.reviews-slider
    flex none
    margin-top 40px
    margin-bottom 40px

    &--type2
        background #f3f7fa
        margin-bottom 0
        padding-top 50px

        & ^[0]
            &__title
                font-size 36px
                color #3c3b3c
                line-height 1
                text-transform inherit

            &__item
                &:hover
                    background #ffffff

            &__items
                .owl-nav
                    top -75px
            &__name,
            &__text
                width auto

    &__head
        display flex
        margin-bottom 40px

        @media (max-width 768px)
            display block

    &__title
        font-size 48px
        color #3c3b3c
        font-weight 700
        line-height 58px
        text-transform uppercase

        span
            color #008ab1

        @media (max-width 768px)
            font-size 36px
            line-height 40px    

        @media (max-width 480px)
            font-size 28px
            line-height 32px    

    &__desc
        font-size 15px
        color #97989a
        font-weight 400
        line-height 20px
        width 400px
        max-width 100%
        align-self flex-end
        transform translateY(-8px)

        @media (max-width 768px)
            margin-left 0 !important
            transform none
            margin-top 15px

        @media (max-width 480px)
            font-size 14px 

    &__items

        .owl-stage
            display flex

        .owl-item
            display flex
            justify-content center

        .owl-nav
            position absolute
            top -130px
            right 0
            display flex

            @media (max-width 480px)
                top -35px
                right 50%
                transform translateX(50%)

            svg
                width 25px
                height 35px

            .owl-prev
                margin-right 15px
                svg
                    transform rotate(90deg)

            .owl-next
                svg
                    transform rotate(-90deg)

            .owl-prev,
            .owl-next
                &:hover
                    svg
                       path
                            fill #008ab1

    &__item
        padding-top 15px
        margin-right 20px
        display flex
        flex-direction column
        &:hover
            background-color #f3f7fa

    &__img
        width 120px
        margin 0 auto
        margin-bottom 20px
        border-radius 50%
        border 1px solid #f0f4f5

    &__name
        font-size 18px
        font-weight 700
        line-height 20px
        width 210px
        padding 0 20px

    &__text
        font-size 15px
        color #97989a
        font-weight 400
        width 240px
        padding 20px

    &__btn-more
        font-size 14px
        color #008ab1
        font-weight 400
        line-height 36px
        text-transform uppercase
        text-align center
        display block
        width 350px
        max-width 100%
        padding-top 10px
        padding-bottom 10px
        margin 40px auto
        border-radius 50px
        border 2px solid #008ab1
        transition color .3s, background-color .3s
        &:hover
            color #fff
            text-decoration none
            background-color #fc9346
            border-color transparent
