<div block="reviews-slider" mods="{{reviewsSliderMods}}">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="head">
                {% if reviewsSliderMods == 'type2' %}
                    <div elem="title">Отзывы о враче</div><!-- e:title -->
                {% else%}
                    <div elem="title">Отзывы<br> <span>о нас</span></div>
                    <div elem="desc">Городской психотерапевтический центр «Карповка-25» предлагает Вам профессиональные услуги психолога. </div>
                {% endif %}
            </div>
            <div elem="items" class="js-slider-reviews owl-carousel">
                <div elem="item">
                    <div elem="img"><img src="img/reviews-img.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Катя Колмакова</div>
                        <div elem="text">Замечательный центр! Наблюдалась у главного врача Валентины Хоревой и психолога Ксении Бирюковой: профессионалы высокого класса, в курсе новейших методик, их участие дало отличный результат. Врачи оказали мне помощь и в лечении, и в последующей адаптации к жизненной ситуации, которую нередко усложняет болезнь. Благодарна и рекомендую от всей души: 10/10.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/reviews-img4.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Тина Ландау</div>
                        <div elem="text">Очень рада учреждению ГПЦ Карповка-25. Высококлассные специалисты и просто хорошие люди, доброта, индивидуальный подход (а не конвейер), — все это, несомненно, крайне ценно. Именно по этой причине я пользуюсь и буду пользоваться услугами Центра. Большое вам спасибо за то, что вы есть.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/reviews-img.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Татьяна Еськова</div>
                        <div elem="text">Хочу поблагодарить Екатерину Эдуардовну Декало. Это Человек с большой буквы,профессионал своего дела. Заниматься по скайпу значительно сложнее ,чем "с глазу на глаз". Но это не про неё.Уже после пятого занятия сын(она с ним занимается)стал мыслить более позитивно, стал увереннее в себе. Я не нашла в своём городе ни одного психотерапевта, который бы согласился с сыном заниматься.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/reviews-img4.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Софья Суворова</div>
                        <div elem="text">Огромное спасибо за открытие центра! за помощь, поддержку, за профессионализм, за все! За то, что Вы есть! Особенная благодарность Екатерине Эдуардовне!</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/reviews-img.png" alt=""></div>
                    <div elem="body">
                        <div elem="name">Тина Ландау</div>
                        <div elem="text">Очень рада учреждению ГПЦ Карповка-25. Высококлассные специалисты и просто хорошие люди, доброта, индивидуальный подход (а не конвейер), — все это, несомненно, крайне ценно. Именно по этой причине я пользуюсь и буду пользоваться услугами Центра. Большое вам спасибо за то, что вы есть.</div>
                    </div>
                </div>
            </div>

            <a elem="btn-more" href="#">показать все отзывы</a>
        </div>
    </div>
</div><!-- reviews-slider -->
