.type-service
    margin-bottom 80px

    @media (max-width 768px)
        margin-bottom 40px

    &__section
        background-color #008ab1

        @media (max-width 1279px)
            width 638px
            max-width 100%
            margin 0 auto

    &__content
        display flex    
        
        @media (max-width 1279px)
            flex-direction column
            justify-content center
            align-items center
            

    &__slider
        flex 0 0 50%
        width 50%
        max-width 50%   

        @media (max-width 1279px)
            flex 0 0 100%
            width 100%
            max-width 100% 

    &__slider-items

        .owl-dots
            position absolute
            top 50px
            transform translateY(50%)
            right 10%
            display flex
            flex-direction column
            align-items center

            @media (max-width 767px)
                transform none

            @media (max-width 640px)
                right 50%
                transform translateX(50%)
                flex-direction row
                justify-content space-around
                top auto
                bottom -25px
                width 200px
                align-items flex-start
        
        .owl-dot
            width 9px
            height 9px
            border 2px solid transparent 
            border-radius 50%
            margin-bottom 45px
            transition width .3s, height .3s, background-color .3s, border-color .3s
            &:last-child
                margin-bottom 0

            span 
                width 5px
                height 5px
                display block
                border-radius 50%
                background-color #fff
                transition background-color .3s

            &.active
                border 2px solid #fff

                span 
                    background-color transparent

    &__slider-item
        padding-top 80px
        padding-bottom 73px            
        display flex
        flex-direction column
        justify-content center
        align-items center

        @media (max-width 640px)
            padding-top 20px
            padding-bottom 65px
            padding-left 20px
            padding-right 20px
            padding 20px 20px 50px 20px

    &__slider-body
        width 436px
        max-width 100%    
        margin-left 185px

        @media (max-width 1600px)
            margin-left 0


    &__title
        font-size 36px    
        color #fff
        font-weight 700
        line-height 40px
        margin-bottom 35px

        @media (max-width 640px)
            font-size 28px
            line-height 34px

    &__text
        font-size 15px
        color #fff
        font-weight 400
        line-height 22px   
        margin-bottom 40px

    &__btn-get-consultation
        width 290px
        padding-top 22px
        padding-bottom 22px
        border-radius 50px
        display block     

    &__extra
        flex 0 0 50%
        width 50%
        max-width 50%

        & ^[0]

            &__text
                margin-bottom 0

        @media (max-width 1279px)
            flex 0 0 100%
            width 100%
            max-width 100%         
                
    &__extra-items
        width 640px
        max-width 100%     

    &__extra-item
        display flex     
        align-items center

        &--spec
            & ^[0]
                &__img
                    order 1

                    @media (max-width 640px)
                        order 0

        @media (max-width 640px)
            flex-direction column


    &__img
        flex 0 0 320px
        width 320px   
        max-width 320px 

        img 
            max-width 100%
            height auto

        @media (max-width 640px)
            flex none    

    &__body
        padding 15px 50px 15px 40px

        @media (max-width 640px)
            padding 15px

    &__name
        color #feffff
        font-size 15px
        font-weight 700     
        margin-bottom 15px       

    &__btn-entry
        font-size 16px
        color #fff
        font-weight 400
        line-height 20px
        text-transform uppercase
        text-align center
        padding 18px 30px 19px 
        margin-top 20px
        display block
        border-radius 30px
        border 2px solid #ffffff
        &:hover
            color #fff