<div block="type-service">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="content">
                <div elem="slider">
                    <div elem="slider-items" class="js-slider-type-service owl-carousel">
                        <div elem="slider-item" style="background: url(img/type-service-img.jpg) 50% 0 no-repeat;">
                            <div elem="slider-body">
                                <div elem="title">ПСИХОТЕРАПИЯ</div>
                                <div elem="text"><strong>Психотерапия</strong> — это процесс решения проблем и изменения состояний. В центр "Карповка-25" вы можете обратиться с проблемами, требующими медицинского вмешательства 
        (тревога, депрессия, панические атаки и др.), а также 
        с проблемами, связанными со стрессами в семье, 
        на работе, внутриличностными конфликтами. </div>
                                <a elem="btn-get-consultation" data-remodal-target="requisition" class="site-btn" href="#">пройти консультацию</a>
                            </div>
                        </div>
                        <div elem="slider-item" style="background: url(img/type-service-img.jpg) 50% 0 no-repeat;">
                            <div elem="slider-body">
                                <div elem="title">ПСИХОЛОГИЯ</div>
                                <div elem="text"><strong>Психотерапия</strong> — это процесс решения проблем и изменения состояний. В центр "Карповка-25" вы можете обратиться с проблемами, требующими медицинского вмешательства 
        (тревога, депрессия, панические атаки и др.), а также 
        с проблемами, связанными со стрессами в семье, 
        на работе, внутриличностными конфликтами. </div>
                                <a elem="btn-get-consultation" data-remodal-target="requisition" class="site-btn" href="#">пройти консультацию</a>
                            </div>
                        </div>
                        <div elem="slider-item" style="background: url(img/type-service-img.jpg) 50% 0 no-repeat;">
                            <div elem="slider-body">
                                <div elem="title">ПСИХИАТРИЯ</div>
                                <div elem="text"><strong>Психотерапия</strong> — это процесс решения проблем и изменения состояний. В центр "Карповка-25" вы можете обратиться с проблемами, требующими медицинского вмешательства 
        (тревога, депрессия, панические атаки и др.), а также 
        с проблемами, связанными со стрессами в семье, 
        на работе, внутриличностными конфликтами. </div>
                                <a elem="btn-get-consultation" data-remodal-target="requisition" class="site-btn" href="#">пройти консультацию</a>
                            </div>
                        </div>
                        <div elem="slider-item" style="background: url(img/type-service-img.jpg) 50% 0 no-repeat;">
                            <div elem="slider-body">
                                <div elem="title">НАРКОЛОГИЯ</div>
                                <div elem="text"><strong>Психотерапия</strong> — это процесс решения проблем и изменения состояний. В центр "Карповка-25" вы можете обратиться с проблемами, требующими медицинского вмешательства 
        (тревога, депрессия, панические атаки и др.), а также 
        с проблемами, связанными со стрессами в семье, 
        на работе, внутриличностными конфликтами. </div>
                                <a elem="btn-get-consultation" data-remodal-target="requisition" class="site-btn" href="#">пройти консультацию</a>
                            </div>
                        </div>
                        <div elem="slider-item" style="background: url(img/type-service-img.jpg) 50% 0 no-repeat;">
                            <div elem="slider-body">
                                <div elem="title">НЕВРОЛОГИЯ</div>
                                <div elem="text"><strong>Психотерапия</strong> — это процесс решения проблем и изменения состояний. В центр "Карповка-25" вы можете обратиться с проблемами, требующими медицинского вмешательства 
        (тревога, депрессия, панические атаки и др.), а также 
        с проблемами, связанными со стрессами в семье, 
        на работе, внутриличностными конфликтами. </div>
                                <a elem="btn-get-consultation" data-remodal-target="requisition" class="site-btn" href="#">пройти консультацию</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="extra">
                    <div elem="extra-items">
                        <div elem="extra-item">
                            <div elem="img"><img src="img/type-service-img2.jpg" alt=""></div>
                            <div elem="body">
                                <div elem="name">ДЕТСКИЙ КАБИНЕТ</div>
                                <div elem="text">В нашем центре ведется прием детей от рождения и подростков. </div>
                                <a elem="btn-entry" data-remodal-target="requisition" href="#">запись на прием</a>
                            </div>
                        </div>
                        <div elem="extra-item" mods="spec">
                            <div elem="img"><img src="img/type-service-img3.jpg" alt=""></div>
                            <div elem="body">
                                <div elem="name">Каждый <br> специалист </div>
                                <div elem="text">ориентирован на результат, поэтому каждая встреча или консультация представляет собой эффективное решение имеющейся проблемы.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- type-service -->