.app-header
    flex none
    
    @media (max-width 1279px)
        margin-bottom 50px

    &__top-line
        padding-top 18px
        padding-bottom 18px
        background-color #008ab1

        @media (max-width 1024px)
            display none
        

        &.fixed-panel-show
            position fixed
            top 0
            left 0
            width 100%
            transition top .3s
            z-index 100
            padding-top 10px
            padding-bottom 10px
        
    &__inner
        display flex
        align-items center
        justify-content space-between  
        position relative  
    
    &__site-info
        padding-top 25px
        padding-bottom 25px
        background-color #f3f7fa   

        &.fixed-panel-show
            position fixed
            top 44px
            left 0
            width 100%
            transition top .3s
            z-index 100 
            padding-top 5px
            padding-bottom 5px

            .app-header__main-menu
                top 75px

            .main-menu
                .main-menu-specialists-info,
                .main-menu-info
                    top 124px    

        .main-menu-btn
            font-size 14px
            color #008ab1
            font-weight 700
            line-height 17px
            text-transform uppercase
            display flex
            align-items center
            border none
            background-color transparent
            transition color .3s

            .svg-icon--main-menu-icon
                margin-right 15px
                width 30px
                fill #008ab1

            &:hover
                color #fc9346

            &.is-active
                color #fc9346  

        @media (max-width 1024px)
            display none    

    &__main-menu
        width 100%
        position absolute
        top 95px
        left 0
        display none
        z-index 50

        @media (max-width 1279px)
            display none !important