<header block="app-header" mix="block:mt-4">
    <div elem="section" class="full-contain">
        <div elem="top-line" class="js-fixed-panel fixed-panel-init">
            <div elem="inner" class="contain">
                {% include "social-links.html" %}   
                {% include "top-menu.html" %}
            </div>
        </div>
        <div elem="site-info" class="js-fixed-panel fixed-panel-init">
            <div elem="inner" class="contain">
                <button class="main-menu-btn js-main-menu-btn">{{ _icon('main-menu-icon', { tag: 'i' }) }} Меню</button>
                <div elem="main-menu" class="js-main-menu">
                    {% include "main-menu.html" %}
                    {# <div block="main-menu-info">
                        <div elem="img"><img src="img/menu-img.jpg" alt=""></div>
                        <div elem="text">Депрессия способна перечеркнуть Вашу привычную жизнь и погрузить ее в краски апатии, страха и постоянной тревоги.</div>
                    </div><!-- b:main-menu-info --> #}
                    {# <div block="main-menu-specialists-info">
                        <div elem="img"><img src="img/content-img.jpg" alt=""></div>
                        <div elem="content">
                            <div elem="text">Врач-психиатр высшей категории, опыт работы 27 лет.</div>
                            <div elem="bot">
                                <div elem="prece">
                                    <span elem="price-text">Стоимость приема:</span>
                                    <div elem="price-num">3500 <small>руб.</small></div>
                                </div>
                                <button elem="btn-sign-up" class="site-btn" data-remodal-target="requisition">Записаться на прием</button>
                            </div>
                        </div>
                    </div><!-- b:main-menu-specialists-info --> #}
                </div>
                {% include "logo.html" %}
                {% include "opening-times.html" %}
                {% include "contacts.html" %}
                <button class="call-back site-btn" data-remodal-target="requisition">обратный звонок</button>
            </div>
        </div>
        {% if pageTitle == "Главная" %}
            <div block="first-screen">

                {% include "main-slider.html" %}

            </div><!-- b:first-screen -->
        {% endif %}
    </div>
</header><!-- b:app-header -->
