.card-info

    &__doc
        display flex
        margin-bottom 40px

        @media (max-width 767px)
            display block

    &__img
        font-size 0
        text-align center
        flex 0 0 320px
        width 320px
        max-width 320px
        padding 15px 35px 0 35px
        margin-right 40px
        border 1px solid #f0f4f5
        background-color #fff    

        img
            max-width 100%  
            height auto 

        @media (max-width 767px)
            width 320px
            max-width 100%
            margin-bottom 15px    
    
    &__doc-body

        p
            font-size 15px
            color #3c3b3c
            font-weight 400
            margin-bottom 15px

    &__doc-title
        font-size 24px
        color #3c3b3c
        font-weight 700
        line-height 26px
        display block
        margin-bottom 15px

    &__doc-name
        font-size 18px
        color #3c3b3c
        font-weight 700
        line-height 20px
        display block
        margin-bottom 15px

    &__doc-advantages
        font-size 14px
        color #97989a  
        font-weight 400
        line-height 18px
        width 340px
        max-width 100%
        display block

        strong 
            font-weight 700

    &__plate
        font-size 15px
        color #3c3b3c
        font-weight 400
        line-height 20px
        padding 30px 30px 20px 40px
        background-color #f3f7fa
        margin-bottom 30px

        strong 
            font-weight 700

        @media (max-width 479px)
            padding 20px    

    &__text
        font-size 15px
        color #3c3b3c
        font-weight 400
        line-height 20px

        p
            margin-bottom 20px