<div block="card-info">
    <div elem="section">
        <div elem="doc">
            <div elem="img"><img src="img/content-img.jpg" alt=""></div>
            <div elem="doc-body">
                <strong elem="doc-title">Лечение депрессивных состояний</strong>
                <p>С 2004 года мы занимаемся диагностикой и лечением психических расстройств, в том числе депрессий различной этиологии. </p>
                <p>Возможности нашей клиники позволяют браться за сложные случаи с лекарственной резистентностью и за пациентов, которым может быть противопоказан прием медикаментов (беременным, людям преклонного возраста и т. д.). Наши психиатры и психотерапевты помогут избавиться от депрессии, восстановят разрушенную стрессами личность и вернут гармонию в Ваш внутренний мир.</p>
                <strong elem="doc-name">Декало Екатерина <br> Эдуардовна</strong>
                <small elem="doc-advantages">Генеральный директор, кандидат психологических наук, стаж работы <strong>18 лет.</strong></small>
            </div>
        </div>

        <div elem="plate">
            <p><strong>Депрессия способна перечеркнуть</strong> Вашу привычную жизнь и погрузить ее в краски апатии, страха и постоянной тревоги. Однако многие люди даже не догадываются, что причиной резких перемен в их жизни могут быть нарушения биохимических процессов в мозге. Как следствие – потеря любимых, бесконечные поиски себя в этом мире и психоэмоциональные страдания.</p>
        </div>

        <div elem="text">
            <p><strong>Метод лечения депрессии</strong> выбирается в зависимости от тяжести психического расстройства. Кому-то бывает достаточно работы с психотерапевтом и поддерживающей медикаментозной терапии; кому-то необходимо фармакологическое лечение и, соответственно, индивидуальный подбор препарата. Тяжелые формы депрессии лечатся в стационаре, под динамическим наблюдением за состоянием здоровья пациента.</p>
            <p>Комбинированное фармакологическое и психотерапевтическое лечение депрессии позволяет избавиться не только от симптомов психического расстройства, но и проработать глубинные личностные проблемы, скрытые от Вашего сознания. Также на сеансах психотерапии Вы сможете обучиться техникам релаксации и методам противостояния стрессам. По современным научным данным именно комбинирование фармакотерапии и психотерапии является наиболее эффективным лечением. Такой подход к терапии депрессии позволит Вам вернуться к привычной жизни и избежать рецидивов заболевания.</p>
        </div>

        {% include "list-services.html" %}
        
        {% include "video-content.html" %}

        {% include "testing-block.html" %}

        {% include "accordion.html" %}

    </div>
</div><!-- card-info -->