.pricelist-block
    margin-bottom 40px

    &__titles-wr
        margin-bottom 10px
        padding-left 300px
        padding-right 40px
        display flex
        flex-wrap wrap


    &__titles-item
        color #3c3b3c
        font-size 24px
        font-weight 700
        line-height 1

        &--name
            flex 1 1 0
            max-width 400px
            margin-right 20px

        &--price
            flex 0 0 340px

    &__list-wr
        display flex
        flex-wrap wrap

    &__column
        &--left
            flex 0 0 240px
            margin-right 20px

        &--right
            flex 1 1 0

    &__categor
        margin-bottom 45px
        border-top 1px solid #e3e9ee

        > ul
            padding 0
            margin 0
            list-style none
            font-size 0
            line-height 1

            > li
                border-bottom 1px solid #e3e9ee

                &.active
                    > a
                        color #fc9346

                > a
                    position relative
                    display block
                    text-decoration none
                    color #008ab1
                    font-size 16px
                    font-weight 700
                    line-height 1
                    text-transform uppercase
                    padding 12px 10px 12px 45px

                    &:before
                        content "›"
                        position absolute
                        top 50%
                        width 5px
                        left 20px
                        height 16px
                        margin-top -10px

                    &:hover
                        color #fc9346
                        text-decoration none

    &__banner
        position relative
        min-height 350px

        &-name
            position absolute
            top 65px
            right 20px
            left 20px
            color #008ab1
            font-size 24px
            line-height 1.1
            font-weight 700
            text-transform uppercase
            text-align right

        &-recording
            position absolute
            bottom 50px
            left 20px
            right 20px
            text-align center

            > a
                display inline-block
                min-width 170px
                font-size 14px
                padding 13px 20px

    &__pricelist-body
        display none

        &.active
            display block

    &__pricelist-item
        display flex
        flex-wrap wrap
        align-items center
        padding 5px 40px

        &:nth-child(odd)
            background #f3f7fa

        &:hover
            & ^[0]
                &__pricelist-item
                    &-price
                        color #fc9346
                    &-name
                        > a
                            color #fc9346

                    &-recording-link
                        text-decoration none
                        color #fff
                        border-color #fc9346
                        background-color #fc9346

        &-name
            flex 1 1 0
            max-width 400px
            margin-right 20px

            > a
                position relative
                display inline-block
                vertical-align middle
                color #008ab1
                font-size 15px
                font-weight 400
                line-height 1
                text-decoration underline

                &:before
                    content "•"
                    position absolute
                    left -14px
                    top 50%
                    margin-top -8px

        &-right
            flex 0 0 340px
            display flex
            align-items center

        &-recording
            flex 0 0 170px

        &-recording-link
            display block
            text-decoration none
            border-radius 20px
            border 2px solid #008ab1
            color #008ab1
            font-size 14px
            font-weight 400
            line-height 1
            text-transform uppercase
            letter-spacing 0.7px
            padding 11px 5px
            text-align center

            &:hover
                text-decoration none
                color #fff
                border-color #fc9346
                background-color #fc9346

        &-price
            flex 1 1 0
            font-size 16px
            color #3c3b3c

            strong
                font-size 18px

    @media all and (max-width: 1024px)
        &__titles-wr
            display none

        &__pricelist-item
            display block
            padding 5px 5px 5px 20px

            &-name
                margin-bottom 5px

    @media all and (max-width: 766px)
        &__categor
            margin-bottom 20px

        &__list-wr
            display block
        &__column
            &--left
                margin 0 0 20px

        &__banner
            max-width 240px
            margin 0 auto
