<div block="pricelist-block">
	<div elem="titles-wr">
		<div elem="titles-item" mods="name">Услуга</div><!-- e:titles-item -->
		<div elem="titles-item" mods="price">Цена</div><!-- e:titles-item -->
	</div><!-- e:titles-wr -->
	<div elem="list-wr">
		<div elem="column" mods="left">
			<nav elem="categor">
				<ul>
					{% for item in pricelist %}
						<li {% if item.active == 'true' %}class="active"{% endif %}>
							<a href="#">{{item.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</nav><!-- e:categor -->
			<div elem="banner">
				<img src="img/kids-banner.jpg" alt="">
				<div elem="banner-name">Детские психиатры</div><!-- e:banner-name -->
				<div elem="banner-recording">
					<a elem="banner-recording-link" class="site-btn" href="#" data-remodal-target="requisition">записаться</a>
				</div><!-- e:banner-recording -->
			</div><!-- e:banner -->
		</div><!-- e:column -->
		<div elem="column" mods="right">
			{% for item in pricelist %}
				<div elem="pricelist-body" {% if item.active == 'true' %}class="active"{% endif %}>
					{% for e in item.bodys %}
						<div elem="pricelist-item">
							<div elem="pricelist-item-name">
								<a href="#">{{e.title}}</a>
								{% if e.question == true %}
									{% include 'question.html' %}
								{% endif %}
							</div><!-- e:pricelist-item-name -->
							<div elem="pricelist-item-right">
								<div elem="pricelist-item-price"><strong>{{e.price}}</strong> руб.</div><!-- e:pricelist-item-price -->
								<div elem="pricelist-item-recording">
									<a elem="pricelist-item-recording-link" href="#" data-remodal-target="requisition">записаться</a>
								</div><!-- e:pricelist-item-recording -->
							</div><!-- e:pricelist-item-right -->
						</div><!-- e:pricelist-item -->
					{% endfor %}
				</div><!-- e:pricelist-body -->
			{% endfor %}
		</div><!-- e:column -->
	</div><!-- e:list-wr -->
</div><!-- pricelist-block -->
