.accordion
    margin-bottom 40px

    &__head
        display flex
        justify-content space-between
        align-items center
        cursor pointer

        .svg-icon--arrow-bl
            width 20px
            fill #008ab1

        &.is-active
            .svg-icon--arrow-bl
                fill #3c3b3c
                transform rotate(180deg)

            .line-dsgn
                background-color #3c3b3c

            & ^[0]
                &__title
                    color #3c3b3c

    &__title
        font-size 24px
        color #008ab1
        font-weight 700
        line-height 30px
        padding-top 15px
        padding-right 20px
        padding-bottom 15px

    .line-dsgn
        flex 1 1 auto
        height 1px
        display block
        margin-right 20px
        background-color #20adc1

    &__body
        display none

    &__content
        display flex
        justify-content space-between
        padding-bottom 20px

        @media (max-width 640px)
            display block

    &__img
        flex 0 0 280px
        width 280px
        max-width 280px
        margin-right 40px

        img
            max-width 100%
            height auto

        @media (max-width 640px)
            max-width 100%
            margin-right 0
            margin-bottom 15px    

    &__text
        font-size 15px
        color #3c3b3c
        font-weight 400
        line-height 20px

    @media all and (max-width: 1024px)
        &__title
            font-size 18px

