<div block="accordion">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="head" class="js-toggle-acc">
                    <div elem="title">Методы диагностики</div>
                    <i class="line-dsgn"></i>
                    {{ _icon('arrow-bl', { tag: 'i' }) }}
                </div>
                <div elem="body" class="js-container">
                    <div elem="content">
                        <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                        <div elem="text">
                            <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="head" class="js-toggle-acc">
                    <div elem="title">Легкие депрессии</div>
                    <i class="line-dsgn"></i>
                    {{ _icon('arrow-bl', { tag: 'i' }) }}
                </div>
                <div elem="body" class="js-container">
                    <div elem="content">
                        <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                        <div elem="text">
                            <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="head" class="js-toggle-acc">
                    <div elem="title">Длительные и затяжные депрессии</div>
                    <i class="line-dsgn"></i>
                    {{ _icon('arrow-bl', { tag: 'i' }) }}
                </div>
                <div elem="body" class="js-container">
                    <div elem="content">
                        <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                        <div elem="text">
                            <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="head" class="js-toggle-acc">
                    <div elem="title">Медикаментозное лечение депрессии</div>
                    <i class="line-dsgn"></i>
                    {{ _icon('arrow-bl', { tag: 'i' }) }}
                </div>
                <div elem="body" class="js-container">
                    <div elem="content">
                        <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                        <div elem="text">
                            <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="head" class="js-toggle-acc">
                    <div elem="title">Психотерапевтическое лечение</div>
                    <i class="line-dsgn"></i>
                    {{ _icon('arrow-bl', { tag: 'i' }) }}
                </div>
                <div elem="body" class="js-container">
                    <div elem="content">
                        <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                        <div elem="text">
                            <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div elem="item">
            <div elem="head" class="js-toggle-acc">
                <div elem="title">Лечение депрессии в стационаре</div>
                <i class="line-dsgn"></i>
                {{ _icon('arrow-bl', { tag: 'i' }) }}
            </div>
            <div elem="body" class="js-container">
                <div elem="content">
                    <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                    <div elem="text">
                        <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                    </div>
                </div>
            </div>
        </div>
        <div elem="item">
            <div elem="head" class="js-toggle-acc">
                <div elem="title">Помощь при депрессии в нашей клинике</div>
                <i class="line-dsgn"></i>
                {{ _icon('arrow-bl', { tag: 'i' }) }}
            </div>
            <div elem="body" class="js-container">
                <div elem="content">
                    <div elem="img"><img src="img/accor-img.jpg" alt=""></div>
                    <div elem="text">
                        <p>При клинической психологической диагностике депрессивных расстройств внимание обращается на состояние эмоционально-личностной сферы: сниженный фон настроения, тревожность, нарушение межличностных отношений, угнетение мотивационной сферы. Для этой цели используются опросники эмоциональных состояний: опросник депрессивных состояний ОДС, шкала депрессии Бека, шкала депрессии Зунга, шкала тревожности Спилбергера-Ханина и др., а также личностные опросники: MMPI, Фрайбургский личностный опросник и др.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- accordion -->