.specialist-lot
	margin-bottom 20px
	display flex
	flex-wrap wrap

	&__column
		&--left
			flex 0 0 420px
			margin-right 40px

		&--right
			flex 1 1 0

	&__image
		border 1px solid #f0f4f5
		text-align center
		padding 20px 10px 0
		border-bottom none

		img
			max-width 100%
			vertical-align middle

	&__price
		display flex
		justify-content center
		align-items center
		background-color #008ab1
		color #ffffff
		line-height 1
		font-weight 400
		padding 28px 10px

		&-title
			font-size 16px
			margin-right 25px

		&-body
			font-size 18px

			strong
				font-size 30px

	&__achievements
		background #f3f7fa
		padding 25px 30px 25px 50px
		margin 0 0 40px

		li
			font-size 16px
			line-height 1.3
			color #3c3b3c
			margin-bottom 5px

			a
				color #008ab1
				text-decoration underline

				&:hover
					text-decoration none

	&__recording
		text-align center

		&-link
			display inline-block
			font-size 16px
			line-height 1
			padding 22px 10px
			text-align center
			border-radius 30px
			min-width 220px

	&__career
		font-size 18px
		line-height 1.2
		color #3c3b3c
		margin-bottom 30px

		strong
			color #008ab1

		&-item
			margin-bottom 10px

	&__description
		font-size 16px
		color #3c3b3c
		margin-bottom 30px

		&--type2
			background #f3f7fa
			padding 40px 45px 40px

	&__list
		padding 0 0 0 50px
		display flex
		flex-wrap wrap
		color #008ab1
		font-size 16px
		line-height 1

		&.specialist-lot__list--type2
			display block
			color #3c3b3c

			> li
				margin-right 0

				i
					color #97989b


		> li
			flex 0 0 48%
			margin-right 2%
			margin-bottom 15px


			&:nth-child(2n)
				margin-right 0

			a
				color #008ab1
				text-decoration underline

				&:hover
					text-decoration none

	@media all and (max-width: 1024px)
		&__column
			&--left
				flex 0 0 340px
				margin-right 20px

		&__price
			padding 18px 10px
			&-title
				margin-right 15px

		&__achievements
			padding 20px 15px 20px 35px
			margin-bottom 20px

	@media all and (max-width: 766px)
		display block

		&__column
			&--left
				margin 0 0 20px


		&__list
			padding-left 30px
			> li
				flex 0 0 100%
				margin-right 0


		&__description

			&--type2
				padding 20px 20px
