.list-services

    &__table
        width 100%
        background-color #f3f7fa
        padding 40px 25px

        @media (max-width 767px)
            padding 20px

        table
            width 100%

            thead

                th
                    font-size 24px
                    color #3c3b3c
                    font-weight 700
                    line-height 20px
                    padding-bottom 15px
                    &:first-child
                        padding-left 35px

                @media (max-width 767px)
                    display none        

            tbody


                tr
                    
                    td
                        font-size 18px
                        color #3c3b3c
                        font-weight 400
                        padding-top 5px
                        padding-bottom 5px

                        @media (max-width 767px)
                            display block
                            padding-left 35px

                        &:first-child
                            padding-left 55px
                            position relative
                            width 45%
                            &:before
                                content ''
                                position absolute
                                top 20px
                                left 35px
                                width 5px
                                height 5px
                                background-color #3c3b3c
                                border-radius 50%

                            @media (max-width 767px)
                                width 100%    
                                padding-top 10px

                        &:nth-child(2)
                            font-size 18px
                            color #3c3b3c
                            font-weight 700    
                            width 30%

                            @media (max-width 767px)
                                width 100%

                        a
                            font-size 14px
                            color #008ab1
                            font-weight 400
                            line-height 36px
                            text-transform uppercase    
                            text-align center
                            display block
                            width 170px
                            border-radius 20px
                            border 2px solid #008ab1
                            transition color .3s, background-color .3s
                            &:hover
                                color #fff
                                text-decoration none
                                background-color #fc9346
                                border-color transparent

                        &:nth-child(3)

                            @media (max-width 767px)
                                padding-bottom 10px

                    &:nth-child(2n+1)
                        background-color #fff

                    