<div block="list-services">
    <div elem="section">
        <div elem="table">
            <table>
                <thead>
                    <tr>
                        <th>Услуга</th>
                        <th>Цена</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Прием психотерапевта</td>
                        <td>3 500 руб.</td>
                        <td><a href="#" data-remodal-target="requisition">записаться</a></td>
                    </tr>
                    <tr>
                        <td>Семейная психотерапия</td>
                        <td>5 000 руб.</td>
                        <td><a href="#" data-remodal-target="requisition">записаться</a></td>
                    </tr>
                    <tr>
                        <td>Гипнотерапия</td>
                        <td>6 000 руб.</td>
                        <td><a href="#" data-remodal-target="requisition">записаться</a></td>
                    </tr>
                    <tr>
                        <td>Консультация психиатра</td>
                        <td>3 500 руб.</td>
                        <td><a href="#" data-remodal-target="requisition">записаться</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- list-services -->