.specialists-thumb
    background-color #ffffff
    position relative

    &:hover
        & ^[0]
            &__btn-sign-up
                display block

    &__img
        text-decoration none
        display flex
        align-items center
        justify-content center
        height 350px
        border 1px solid #f0f4f5
        margin-bottom 15px

        img
            max-width 100%
            height auto
            max-height 350px
            vertical-align middle

    &__name
        text-decoration none
        color #212529
        font-size 18px
        font-weight 700
        line-height 20px
        max-width 210px
        margin-bottom 15px

        &:hover
            color #212529

    &__text
        font-size 15px
        color #97989a
        font-weight 400

    &__btn-sign-up
        width 100%
        max-width 220px
        position absolute
        top 50%
        left 50%
        margin-top -55px
        transform translate(-50%, -50%)
        display none
