<div block="specialists-thumb">
	<a href="#" elem="img"><img src="{{item.img}}" alt=""></a>
	<div elem="body">
		<a href="#" elem="name">{{item.name}}</a>
		<div elem="text">{{item.desc}}</div>
	</div>
	<a elem="btn-sign-up" class="site-btn" href="#" data-remodal-target="requisition">запись на прием</a>
</div><!-- specialists-thumb -->
