<div block="categories">
    <nav elem="nav">
        <ul>
            <li class="sub-menu">
                <a href="#">Психиатрия</a>
                <ul>
                    <li>
                        <a href="#">Депрессии</a>
                        <ul>
                            <li><a href="#">Депрессии у женщин</a></li>
                            <li><a href="#">Реактивная депрессия</a></li>
                            <li><a href="#">Дистимия</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Депрессии</a></li>
                    <li><a href="#">Неврозы</a></li>
                    <li><a href="#">Страхи и фобии</a></li>
                    <li><a href="#">Панические атаки</a></li>
                    <li><a href="#">Биполярное расстройство</a></li>
                    <li><a href="#">Стресс</a></li>
                    <li><a href="#">Игромания</a></li>
                    <li><a href="#">Снижение веса</a></li>
                    <li><a href="#">Табакокурение</a></li>
                    <li><a href="#">Неврастения</a></li>
                    <li><a href="#">Сексуальные расстройства</a></li>
                </ul>
            </li>
            <li><a href="#">Психотерапия</a></li>
            <li><a href="#">Наркология</a></li>
            <li><a href="#">Неврология</a></li>
            <li><a href="#">Гемокоррекция</a></li>
            <li><a href="#">Диагностика</a></li>
        </ul>
    </nav>
</div><!-- categories -->