.categories
    flex none

    &__nav
        >ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            >li
                margin-bottom 8px
                position relative
                
                &.open
                    display block
                    > a
                        color #fff
                        background #008ab1
                >a
                    display block
                    color #3c3b3c
                    font-size 24x
                    font-weight 700
                    text-transform uppercase
                    background-color #f3f7fa
                    padding 8px 46px 8px 19px
                    transition background-color .5s       
                    &:hover
                        color #fff
                        background #008ab1
                        text-decoration none
                .sub-menu-trigger
                    position absolute
                    top 5px
                    right 15px
                    width 30px
                    height 30px
                    background url('../img/arrow-bl.svg') 50% 50% no-repeat
                    .svg-icon
                        display none
                    &.rotade
                        background url('../img/arrow-w.svg') 50% 50% no-repeat

                >ul
                    list-style-type none
                    padding-top 15px
                    padding-left 15px
                    margin-bottom 0
                    display none
                    >li
                        margin-bottom 15px
                        position relative
                        &:before
                            content ''
                            position absolute
                            top 10px
                            left 0
                            width 5px
                            height 5px
                            background-color #008ab1
                            border-radius 50%

                        .sub-menu-trigger
                            display none

                        >a
                            color #008ab1
                            font-size 16px
                            display block
                            padding-right 15px
                            padding-left 15px
                            font-weight 700
                            &:hover
                                text-decoration underline

                        ul
                            list-style-type none
                            padding-top 15px
                            padding-left 15px
                            margin-bottom 0

                            li
                                padding-left 15px
                                margin-bottom 5px
                                position relative
                                &:before
                                    content ''
                                    position absolute
                                    top 8px
                                    left 0
                                    width 8px
                                    height 8px
                                    background-color #008ab1
                                    border-radius 50%
                                    background url('../img/arrow-bl.svg') 0 0 no-repeat
                                    background-size contain
                                    transform rotate(-90deg)

                                a
                                    color #008ab1
                                    font-size 16px
                                    display block
                                    font-weight 400
                                    &:hover
                                        color #008ab1
                                        text-decoration underline


