::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "PF BeauSans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "PF BeauSans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Bold.woff2") format('woff2'), url("../fonts/PFBeauSansPro-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Regular.woff2") format('woff2'), url("../fonts/PFBeauSansPro-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-footer__section {
  background-color: #f3f7fa;
}

.app-footer__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.app-footer__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.app-footer__item--info {
  -ms-flex: 0 0 245px;
      flex: 0 0 245px;
  width: 245px;
  max-width: 245px;
}

.app-footer__info {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.app-footer__logo {
  -ms-flex: 0 0 61px;
      flex: 0 0 61px;
  width: 61px;
  max-width: 61px;
}

.app-footer__logo img {
  max-width: 100%;
  height: auto;
}

.app-footer__copy {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  margin-left: 25px;
}

.app-footer__copy strong {
  font-weight: 700;
}

.app-footer__exempli {
  font-size: 14px;
  color: #97989a;
  font-weight: 400;
  margin-bottom: 20px;
}

.app-footer .categories-footer__nav {
  width: 650px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.app-footer .categories-footer__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 115px;
}

.app-footer .categories-footer__nav ul:last-child {
  margin-right: 0;
}

.app-footer .categories-footer__nav ul li {
  position: relative;
  padding-left: 13px;
  margin-bottom: 20px;
}

.app-footer .categories-footer__nav ul li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #3c3b3c;
  border-radius: 50%;
}

.app-footer .categories-footer__nav ul li a {
  font-size: 14px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 18px;
  display: block;
}

.app-footer .call-back {
  margin-bottom: 40px;
  margin-left: 5px;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

.app-header__top-line {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #008ab1;
}

.app-header__top-line.fixed-panel-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}

.app-header__site-info {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f3f7fa;
}

.app-header__site-info.fixed-panel-show {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-header__site-info.fixed-panel-show .app-header__main-menu {
  top: 75px;
}

.app-header__site-info.fixed-panel-show .main-menu .main-menu-specialists-info,
.app-header__site-info.fixed-panel-show .main-menu .main-menu-info {
  top: 124px;
}

.app-header__site-info .main-menu-btn {
  font-size: 14px;
  color: #008ab1;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border: none;
  background-color: transparent;
  transition: color 0.3s;
}

.app-header__site-info .main-menu-btn .svg-icon--main-menu-icon {
  margin-right: 15px;
  width: 30px;
  fill: #008ab1;
}

.app-header__site-info .main-menu-btn:hover {
  color: #fc9346;
}

.app-header__site-info .main-menu-btn.is-active {
  color: #fc9346;
}

.app-header__main-menu {
  width: 100%;
  position: absolute;
  top: 95px;
  left: 0;
  display: none;
  z-index: 50;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app.main .slider-specialists__desc {
  margin-left: -315px;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 240px;
      flex: 0 0 240px;
  margin-right: 40px;
}

* {
  outline: none !important;
}

.contain {
  width: 1280px;
  max-width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

.full-contain {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.site-btn {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  min-width: 200px;
  padding: 16px 20px;
  border-radius: 23px;
  border: none;
  background-color: #fc9346;
  transition: background-color 0.3s;
}

.site-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #008ab1;
}

h1 {
  font-size: 48px;
  color: #3c3b3c;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px !important;
  -ms-flex: none;
      flex: none;
}

h1 span {
  color: #008ab1;
}

.treatment .app__content {
  padding-top: 35px;
}

.treatment span {
  color: #008ab1;
}

.about-us {
  margin-bottom: 80px;
  position: relative;
  z-index: 11;
}

.about-us__section {
  position: relative;
}

.about-us__section:after {
  content: '';
  position: absolute;
  top: -335px;
  right: 0;
  width: 530px;
  height: 645px;
  background: url("../img/notepad-pic2.png") 0 0 no-repeat;
  background-size: contain;
}

.about-us__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 80px;
  padding-right: 30px;
}

.about-us__img {
  -ms-flex: 0 0 400px;
      flex: 0 0 400px;
  width: 400px;
  max-width: 400px;
  margin-bottom: 25px;
}

.about-us__img img {
  max-width: 100%;
  height: auto;
}

.about-us__body {
  -ms-flex: 0 0 570px;
      flex: 0 0 570px;
  max-width: 570px;
  width: 570px;
}

.about-us__title {
  font-size: 48px;
  color: #3c3b3c;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 54px;
  margin-bottom: 40px;
}

.about-us__title span {
  color: #008ab1;
}

.about-us__text {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 22px;
}

.accordion {
  margin-bottom: 40px;
}

.accordion__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}

.accordion__head .svg-icon--arrow-bl {
  width: 20px;
  fill: #008ab1;
}

.accordion__head.is-active .svg-icon--arrow-bl {
  fill: #3c3b3c;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__head.is-active .line-dsgn {
  background-color: #3c3b3c;
}

.accordion__head.is-active .accordion__title {
  color: #3c3b3c;
}

.accordion__title {
  font-size: 24px;
  color: #008ab1;
  font-weight: 700;
  line-height: 30px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.accordion .line-dsgn {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  height: 1px;
  display: block;
  margin-right: 20px;
  background-color: #20adc1;
}

.accordion__body {
  display: none;
}

.accordion__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 20px;
}

.accordion__img {
  -ms-flex: 0 0 280px;
      flex: 0 0 280px;
  width: 280px;
  max-width: 280px;
  margin-right: 40px;
}

.accordion__img img {
  max-width: 100%;
  height: auto;
}

.accordion__text {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 20px;
}

.aside-content {
  margin-top: 40px;
}

.aside-content--type2 .aside-content__banner-name {
  top: 125px;
  right: 10px;
  color: #fff;
}

.aside-content--type2 .aside-content__banner-recording {
  bottom: 110px;
}

.aside-content__banner {
  position: relative;
  min-height: 350px;
}

.aside-content__banner-name {
  position: absolute;
  top: 65px;
  right: 20px;
  left: 20px;
  color: #008ab1;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}

.aside-content__banner-recording {
  position: absolute;
  bottom: 50px;
  left: 20px;
  right: 20px;
  text-align: center;
}

.aside-content__banner-recording > a {
  display: inline-block;
  min-width: 170px;
  font-size: 14px;
  padding: 13px 20px;
}

.card-info__doc {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.card-info__img {
  font-size: 0;
  text-align: center;
  -ms-flex: 0 0 320px;
      flex: 0 0 320px;
  width: 320px;
  max-width: 320px;
  padding: 15px 35px 0 35px;
  margin-right: 40px;
  border: 1px solid #f0f4f5;
  background-color: #fff;
}

.card-info__img img {
  max-width: 100%;
  height: auto;
}

.card-info__doc-body p {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  margin-bottom: 15px;
}

.card-info__doc-title {
  font-size: 24px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 26px;
  display: block;
  margin-bottom: 15px;
}

.card-info__doc-name {
  font-size: 18px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin-bottom: 15px;
}

.card-info__doc-advantages {
  font-size: 14px;
  color: #97989a;
  font-weight: 400;
  line-height: 18px;
  width: 340px;
  max-width: 100%;
  display: block;
}

.card-info__doc-advantages strong {
  font-weight: 700;
}

.card-info__plate {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 20px;
  padding: 30px 30px 20px 40px;
  background-color: #f3f7fa;
  margin-bottom: 30px;
}

.card-info__plate strong {
  font-weight: 700;
}

.card-info__text {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 20px;
}

.card-info__text p {
  margin-bottom: 20px;
}

.categories {
  -ms-flex: none;
      flex: none;
}

.categories__nav >ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.categories__nav >ul >li {
  margin-bottom: 8px;
  position: relative;
}

.categories__nav >ul >li.open {
  display: block;
}

.categories__nav >ul >li.open > a {
  color: #fff;
  background: #008ab1;
}

.categories__nav >ul >li >a {
  display: block;
  color: #3c3b3c;
  font-size: 24x;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f3f7fa;
  padding: 8px 46px 8px 19px;
  transition: background-color 0.5s;
}

.categories__nav >ul >li >a:hover {
  color: #fff;
  background: #008ab1;
  text-decoration: none;
}

.categories__nav >ul >li .sub-menu-trigger {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url("../img/arrow-bl.svg") 50% 50% no-repeat;
}

.categories__nav >ul >li .sub-menu-trigger .svg-icon {
  display: none;
}

.categories__nav >ul >li .sub-menu-trigger.rotade {
  background: url("../img/arrow-w.svg") 50% 50% no-repeat;
}

.categories__nav >ul >li >ul {
  list-style-type: none;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  display: none;
}

.categories__nav >ul >li >ul >li {
  margin-bottom: 15px;
  position: relative;
}

.categories__nav >ul >li >ul >li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #008ab1;
  border-radius: 50%;
}

.categories__nav >ul >li >ul >li .sub-menu-trigger {
  display: none;
}

.categories__nav >ul >li >ul >li >a {
  color: #008ab1;
  font-size: 16px;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 700;
}

.categories__nav >ul >li >ul >li >a:hover {
  text-decoration: underline;
}

.categories__nav >ul >li >ul >li ul {
  list-style-type: none;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.categories__nav >ul >li >ul >li ul li {
  padding-left: 15px;
  margin-bottom: 5px;
  position: relative;
}

.categories__nav >ul >li >ul >li ul li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #008ab1;
  border-radius: 50%;
  background: url("../img/arrow-bl.svg") 0 0 no-repeat;
  background-size: contain;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.categories__nav >ul >li >ul >li ul li a {
  color: #008ab1;
  font-size: 16px;
  display: block;
  font-weight: 400;
}

.categories__nav >ul >li >ul >li ul li a:hover {
  color: #008ab1;
  text-decoration: underline;
}

.contact-details__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.contact-details__contacts {
  font-size: 16px;
  color: #3c3b3c;
  font-weight: 400;
  -ms-flex: 0 0 250px;
      flex: 0 0 250px;
  width: 250px;
  max-width: 250px;
}

.contact-details__contacts strong {
  display: block;
  margin-bottom: 5px;
}

.contact-details__contacts span {
  display: block;
  margin-bottom: 15px;
}

.contact-details__phone {
  color: #3c3b3c;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  padding-left: 35px;
  display: block;
  vertical-align: top;
}

.contact-details__phone:before {
  content: '';
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/phone-bl-icon.png") 0 0 no-repeat;
}

.contact-details__phone span {
  font-size: 22px;
  color: #008ab1;
  font-weight: 400;
  display: inline-block;
}

.contact-details__phone:hover {
  color: #3c3b3c;
  cursor: default;
  text-decoration: none;
}

.contact-details__mail {
  margin-bottom: 15px;
}

.contact-details__mail a {
  font-size: 15px;
  color: #008ab1;
  font-weight: 400;
  text-align: right;
  text-decoration: underline;
}

.contact-details__mail a:hover {
  color: #008ab1;
  text-decoration: none;
}

.contact-details__form {
  -ms-flex: 0 0 920px;
      flex: 0 0 920px;
  width: 920px;
  max-width: 920px;
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 40px;
  background: #008ab1 url("../img/contacts-form-bg.jpg") 0 0 no-repeat;
  background-size: cover;
}

.contact-details__form-body {
  width: 540px;
  max-width: 100%;
  margin-left: auto;
}

.contact-details__form-title {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact-details__inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-details__input {
  -ms-flex: 0 0 47.5%;
      flex: 0 0 47.5%;
  width: 47.5%;
  max-width: 47.5%;
  margin-right: 25px;
}

.contact-details__input:nth-child(2) {
  margin-right: 0;
}

.contact-details__input input {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.contact-details__input ::-webkit-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__input ::-moz-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__input :-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__input ::-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__input ::placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__textarea {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

.contact-details__textarea textarea {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  min-height: 40px;
}

.contact-details__textarea ::-webkit-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__textarea ::-moz-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__textarea :-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__textarea ::-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__textarea ::placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.contact-details__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 25px;
}

.contact-details__exempli {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-right: 40px;
}

.contact-details__btn-submit {
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.contacts-info__inner {
  position: relative;
}

.contacts-info__body {
  width: 280px;
  max-width: 100%;
  position: absolute;
  top: 55px;
  left: 40px;
  z-index: 10;
}

.contacts-info__body--other-loc {
  display: none;
}

.contacts-info__content {
  padding: 25px 30px 30px 45px;
  background-color: #fff;
}

.contacts-info__title {
  font-size: 24px;
  color: #3c3b3c;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts-info__address {
  font-size: 14px;
  color: #3c3b3c;
  font-weight: 400;
  margin-bottom: 15px;
}

.contacts-info__info strong {
  font-size: 16px;
}

.contacts-info__opening-time {
  font-size: 14px;
  color: #3c3b3c;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contacts-info__phone {
  font-size: 18px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 30px;
}

.contacts-info__phone:hover {
  color: #3c3b3c;
  text-decoration: none;
  cursor: default;
}

.contacts-info__mail {
  font-size: 15px;
  color: #008ab1;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

.contacts-info__mail:hover {
  color: #008ab1;
  text-decoration: none;
}

.contacts-info__other-location {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #008ab1;
  display: block;
  position: relative;
  transition: background-color 0.3s;
}

.contacts-info__other-location:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 70px;
  background: #fc9346 url("../img/arrow.svg") 50% 50% no-repeat;
  background-size: auto;
  transition: background-color 0.3s;
}

.contacts-info__other-location span {
  color: #fff;
  display: block;
  padding-left: 110px;
  padding-top: 11px;
  padding-bottom: 11px;
  position: relative;
}

.contacts-info__other-location span:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 70px;
  width: 20px;
  height: 28px;
  background: url("../img/other-loc-icon.png") 0 0 no-repeat;
}

.contacts-info__other-location:hover {
  color: #fff;
  text-decoration: none;
  background-color: #fc9346;
}

.contacts-info__other-location:hover:before {
  background: #008ab1 url("../img/arrow.svg") 50% 50% no-repeat;
}

.map {
  height: 450px;
}

.contacts a {
  display: block;
}

.contacts a:hover {
  text-decoration: none;
}

.contacts__phone {
  color: #3c3b3c;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  padding-left: 35px;
}

.contacts__phone:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/phone-bl-icon.png") 0 0 no-repeat;
}

.contacts__phone span {
  font-size: 22px;
  color: #008ab1;
  font-weight: 400;
}

.contacts__phone:hover {
  color: #3c3b3c;
  cursor: default;
}

.contacts__mail {
  font-size: 15px;
  color: #008ab1;
  font-weight: 400;
  text-align: right;
  text-decoration: underline;
}

.contacts__mail:hover {
  color: #008ab1;
}

.form-popup {
  background-color: #008ab1;
}

.form-popup__form.success {
  display: none;
}

.form-popup__inner {
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.form-popup__title {
  font-size: 34px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

.form-popup__input {
  margin-bottom: 25px;
}

.form-popup__input input {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.form-popup__input ::-webkit-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-popup__input ::-moz-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-popup__input :-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-popup__input ::-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-popup__input ::placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-popup__btn-submit {
  border: 1px solid transparent;
}

.form-popup__btn-submit:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

.form-popup__send-success {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: none;
}

.form-popup__send-success.success {
  display: block;
}

.form-popup .remodal-close:before {
  color: #fff;
}

.form-questions {
  -ms-flex: none;
      flex: none;
}

.form-questions__section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #008ab1 url("../img/form-bg.png") -380px 0 no-repeat;
  background-size: cover !important;
}

.form-questions__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.form-questions__head {
  -ms-flex: 0 0 270px;
      flex: 0 0 270px;
  width: 270px;
  max-width: 270px;
  margin-right: 80px;
}

.form-questions__title {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-questions__desc {
  font-size: 18px;
  color: #fff;
  font-style: italic;
}

.form-questions__form {
  -ms-flex: 0 0 540px;
      flex: 0 0 540px;
  width: 540px;
  max-width: 540px;
}

.form-questions__inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-questions__input {
  -ms-flex: 0 0 47.5%;
      flex: 0 0 47.5%;
  width: 47.5%;
  max-width: 47.5%;
  margin-right: 25px;
}

.form-questions__input:nth-child(2) {
  margin-right: 0;
}

.form-questions__input input {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.form-questions__input ::-webkit-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__input ::-moz-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__input :-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__input ::-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__input ::placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__textarea {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

.form-questions__textarea textarea {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  min-height: 40px;
}

.form-questions__textarea ::-webkit-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__textarea ::-moz-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__textarea :-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__textarea ::-ms-input-placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__textarea ::placeholder {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.form-questions__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 25px;
}

.form-questions__exempli {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.form-questions__btn-submit {
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.list-services__table {
  width: 100%;
  background-color: #f3f7fa;
  padding: 40px 25px;
}

.list-services__table table {
  width: 100%;
}

.list-services__table table thead th {
  font-size: 24px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 15px;
}

.list-services__table table thead th:first-child {
  padding-left: 35px;
}

.list-services__table table tbody tr td {
  font-size: 18px;
  color: #3c3b3c;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-services__table table tbody tr td:first-child {
  padding-left: 55px;
  position: relative;
  width: 45%;
}

.list-services__table table tbody tr td:first-child:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 35px;
  width: 5px;
  height: 5px;
  background-color: #3c3b3c;
  border-radius: 50%;
}

.list-services__table table tbody tr td:nth-child(2) {
  font-size: 18px;
  color: #3c3b3c;
  font-weight: 700;
  width: 30%;
}

.list-services__table table tbody tr td a {
  font-size: 14px;
  color: #008ab1;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 170px;
  border-radius: 20px;
  border: 2px solid #008ab1;
  transition: color 0.3s, background-color 0.3s;
}

.list-services__table table tbody tr td a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #fc9346;
  border-color: transparent;
}

.list-services__table table tbody tr:nth-child(2n+1) {
  background-color: #fff;
}

.location {
  padding-top: 50px;
  padding-bottom: 50px;
}

.location__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.location__item {
  -ms-flex: 0 0 48%;
      flex: 0 0 48%;
}

.location__title {
  font-size: 18px;
  color: #3c3b3c;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.location__title span {
  color: #008ab1;
}

.location__text {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
  margin-bottom: 20px;
  padding-right: 80px;
}

.location__map {
  width: 100%;
  height: 450px;
}

.logo {
  width: 300px;
}

.logo__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.logo__link:hover {
  color: #008ab1;
  text-decoration: none;
}

.logo__img {
  -ms-flex: 0 0 80px;
      flex: 0 0 80px;
  width: 80px;
  max-width: 80px;
}

.logo__img img {
  max-width: 100%;
  height: auto;
}

.logo__body {
  margin-left: 20px;
}

.logo__name {
  font-size: 24px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.6px;
}

.logo__name span {
  color: #008ab1;
  text-transform: uppercase;
}

.logo__desc {
  font-size: 12px;
  color: #008ab1;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.main-menu {
  width: 100%;
  height: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.main-menu ::-webkit-scrollbar {
  width: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-menu ::-webkit-scrollbar-track {
  background: #d1d1d1;
}

.main-menu ::-webkit-scrollbar-thumb {
  background: #ff9a50;
}

.main-menu ::-webkit-scrollbar-thumb:hover {
  background: #e75a1d;
}

.main-menu__nav {
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 380px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
}

.main-menu__nav > ul {
  list-style-type: none;
  width: 25%;
  -ms-flex: 1 0 25%;
      flex: 1 0 25%;
  height: 100%;
  padding: 31px 0 30px 55px;
  margin-bottom: 0;
  background-color: #008ab1;
}

.main-menu__nav > ul > li {
  margin-bottom: 4px;
}

.main-menu__nav > ul > li:last-child {
  margin-bottom: 0;
}

.main-menu__nav > ul > li:hover > a:before {
  left: 7px;
}

.main-menu__nav > ul > li > a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 25px;
  display: block;
  position: relative;
}

.main-menu__nav > ul > li > a:hover {
  text-decoration: none;
}

.main-menu__nav > ul > li > a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  background: url("../img/arrow.svg") 0 0 no-repeat;
  background-size: contain;
  transition: left 0.3s;
}

.main-menu__nav > ul .sub-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #007191;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 30px 0 45px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  z-index: -1;
  transition: opacity 0.3s, ease 0.5s;
  -webkit-overflow-scrolling: touch;
}

.main-menu__nav > ul .sub-menu ul li {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  padding-left: 25px;
}

.main-menu__nav > ul .sub-menu ul li:hover .main-menu-info {
  opacity: 1;
  visibility: visible;
}

.main-menu__nav > ul .sub-menu ul li > a {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  word-break: break-word;
  display: block;
  padding-left: 35px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  position: relative;
}

.main-menu__nav > ul .sub-menu ul li > a:hover {
  text-decoration: underline;
  border-color: #d7dde1;
}

.main-menu__nav > ul .sub-menu ul li > a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  width: 5px;
  height: 5px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 50%;
}

.main-menu__nav > ul .sub-menu ul li.is-active-specialists a {
  text-decoration: underline;
}

.main-menu__nav > ul .sub-menu:hover:before {
  left: 7px;
}

.main-menu__nav > ul .sub-menu:hover ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.main-menu__nav > ul .our-specialists-list a {
  color: #ff9a50;
}

.main-menu__nav > ul .our-specialists-list a:before {
  background: url("../img/arrow-org.svg") 0 0 no-repeat;
  background-size: contain;
}

.main-menu__nav > ul .our-specialists-list ul.show-list {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.main-menu .main-menu-info {
  width: 295px;
  height: 380px;
  background-color: #008ab1;
  position: fixed;
  top: 180px;
  right: 37px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, ease 0.3s;
}

.main-menu .main-menu-info__img {
  position: relative;
  z-index: 1;
}

.main-menu .main-menu-info__img img {
  max-width: 100%;
  height: auto;
}

.main-menu .main-menu-info__text {
  font-size: 13px;
  color: #fff;
  font-style: italic;
  line-height: 18px;
  padding: 20px 60px 30px 40px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  background-color: #008ab1;
}

.main-menu .main-menu-specialists-info {
  width: 295px;
  height: 380px;
  background-color: #008ab1;
  position: fixed;
  top: 180px;
  right: 37px;
  display: none;
  z-index: 2;
}

.main-menu .main-menu-specialists-info__img {
  text-align: center;
  position: relative;
  display: block;
  z-index: 1;
  height: 250px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-menu .main-menu-specialists-info__img img {
  max-width: 100%;
  height: auto;
}

.main-menu .main-menu-specialists-info__content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  background-color: #008ab1;
  z-index: 2;
}

.main-menu .main-menu-specialists-info__text {
  font-size: 13px;
  color: #ffad71 !important;
  font-style: italic;
  line-height: 18px;
  text-decoration: none !important;
  padding: 10px 60px 5px 40px;
  margin-top: -20px;
  position: relative;
  display: block;
  z-index: 2;
  border-bottom: 1px solid #fff;
  background-color: #008ab1;
}

.main-menu .main-menu-specialists-info__text:hover {
  text-decoration: underline !important;
}

.main-menu .main-menu-specialists-info__prece {
  font-size: 13px;
  color: #fff;
  line-height: 18px;
  padding: 10px 0 5px 40px;
  margin-bottom: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.main-menu .main-menu-specialists-info__price-num {
  font-size: 22px;
  font-weight: 700;
  margin-left: 15px;
}

.main-menu .main-menu-specialists-info__price-num small {
  font-size: 13px;
  font-weight: 400;
}

.main-menu .main-menu-specialists-info__btn-sign-up {
  margin: 0 auto;
  display: block;
}

.main-slider {
  margin-bottom: -130px;
}

.main-slider__items .owl-dots {
  position: absolute;
  top: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.main-slider__items .owl-dot {
  width: 9px;
  height: 9px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-bottom: 45px;
  transition: border-color 0.3s;
}

.main-slider__items .owl-dot:last-child {
  margin-bottom: 0;
}

.main-slider__items .owl-dot span {
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  background-color: #008ab1;
  transition: background-color 0.3s;
}

.main-slider__items .owl-dot.active {
  border: 2px solid #008ab1;
}

.main-slider__items .owl-dot.active span {
  background-color: transparent;
}

.main-slider__item {
  padding-top: 100px;
  padding-bottom: 230px;
}

.main-slider__title {
  font-size: 48px;
  color: #3c3b3c;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 40px;
  width: 505px;
  max-width: 100%;
}

.main-slider__title span {
  color: #008ab1;
}

.main-slider__text {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 22px;
  width: 505px;
  max-width: 100%;
  margin-bottom: 40px;
}

.main-slider__btn-sign-up {
  display: block;
  width: 290px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 50px;
}

.mobile-panel {
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  display: none;
}

.mobile-panel__section {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid #008ab1;
}

.mobile-panel__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.mobile-panel__inner .top-menu {
  padding: 20px;
}

.mobile-panel__inner .top-menu__nav ul {
  display: block;
}

.mobile-panel__inner .top-menu__nav ul li {
  margin-bottom: 15px;
}

.mobile-panel__inner .top-menu__nav ul li a {
  color: #008ab1;
  font-size: 16px;
  display: block;
}

.mobile-panel__inner .menu-mob {
  background-color: #fff;
  width: 320px;
  position: absolute;
  top: 70px;
  left: -320px;
  padding: 0 0 100px;
  z-index: 100;
  height: 100vh;
  overflow-y: auto;
  transition: left 0.3s;
  -webkit-overflow-scrolling: touch;
}

.mobile-panel__inner .menu-mob.menu-is-active {
  left: 0;
}

.mobile-panel__inner .menu-mob .main-menu-mob {
  background-color: #fc9346;
  padding: 20px;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li {
  margin-bottom: 15px;
  position: relative;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li .sub-menu-trigger {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url("../img/arrow-bl.svg") 50% 50% no-repeat;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li .sub-menu-trigger .svg-icon {
  display: none;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li .sub-menu-trigger.rotade {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods a {
  padding-right: 0;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods a:hover {
  color: #fff;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods a:before {
  display: none;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods a:after {
  display: none;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 15px !important;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods ul li span {
  -ms-flex: 0 0 75px;
      flex: 0 0 75px;
  width: 75px;
  max-width: 75px;
  margin-right: 10px;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods ul li span img {
  max-width: 100%;
  height: auto;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu ul {
  padding-top: 5px;
  padding-left: 15px;
  display: none;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu ul li {
  margin-bottom: 10px;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu ul li a {
  font-size: 16px;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu > a {
  padding-right: 10px;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 1px;
  position: relative;
  transition: color 0.3s;
}

.mobile-panel__inner .menu-mob .main-menu-mob__nav ul li a:hover {
  color: #fff;
}

.mobile-panel__btn-burger {
  display: block;
  width: 25px;
  height: 21px;
  padding: 0;
  background-color: #fff;
  position: relative;
  border: none;
  cursor: pointer;
}

.mobile-panel__btn-burger span:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.mobile-panel__btn-burger span:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.mobile-panel__btn-burger span,
.mobile-panel__btn-burger span:before,
.mobile-panel__btn-burger span:after {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  width: 25px;
  height: 3px;
  background-color: #008ab1;
}

.mobile-panel__btn-burger span:before,
.mobile-panel__btn-burger span:after {
  content: '';
  display: block;
  transition: 0.2s;
}

.mobile-panel .btn-burger-is-active span {
  height: 0;
}

.mobile-panel .btn-burger-is-active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-panel .btn-burger-is-active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-panel__overlay-menu {
  display: none;
  position: fixed;
  top: 70px;
  width: 100%;
  bottom: -5000px;
  left: 0;
  background: rgba(43,46,56,0.9);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.mobile-panel__overlay-menu.overlay-is-active {
  display: block;
  left: 0;
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 100;
}

.mobile-panel__logo .logo__img {
  -ms-flex: 0 0 55px;
      flex: 0 0 55px;
  width: 55px;
  max-width: 55px;
}

.mobile-panel .contacts {
  margin-right: auto;
  margin-left: 25px;
}

.mobile-panel .contacts__btn-phone {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../img/phone-bl-icon.png") 0 0 no-repeat;
}

.mobile-panel .contacts__body {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 70px;
  left: 60px;
  background-color: #fff;
  box-shadow: 0px 9px 20px 13px rgba(213,232,255,0.5);
  display: none;
}

.mobile-panel .contacts__phone {
  color: #3c3b3c;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  display: block;
  padding-left: 0;
  margin-bottom: 15px;
}

.mobile-panel .contacts__phone:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 40px;
  width: 24px;
  height: 24px;
  background: url("../img/phone-bl-icon.png") 0 0 no-repeat;
  display: none;
}

.mobile-panel .contacts__phone span {
  font-size: 22px;
  color: #008ab1;
  font-weight: 400;
}

.mobile-panel .contacts__phone:hover {
  color: #3c3b3c;
  cursor: default;
}

.mobile-panel .call-back {
  width: 280px;
}

.news-slider {
  -ms-flex: none;
      flex: none;
  margin-bottom: 30px;
}

.news-slider__section {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #f3f7fa;
}

.news-slider__head {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.news-slider__title {
  font-size: 48px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}

.news-slider__title span {
  color: #008ab1;
}

.news-slider__desc {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
  line-height: 20px;
  width: 400px;
  max-width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: -10px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.news-slider__items .owl-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.news-slider__items .owl-nav {
  position: absolute;
  top: -130px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
}

.news-slider__items .owl-nav svg {
  width: 25px;
  height: 35px;
}

.news-slider__items .owl-nav .owl-prev {
  margin-right: 15px;
}

.news-slider__items .owl-nav .owl-prev svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.news-slider__items .owl-nav .owl-next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.news-slider__items .owl-nav .owl-prev:hover svg path,
.news-slider__items .owl-nav .owl-next:hover svg path {
  fill: #008ab1;
}

.news-slider__item {
  margin-right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.news-slider__item:hover .news-slider__btn-sign-up {
  display: block;
}

.news-slider__img {
  margin-bottom: 15px;
}

.news-slider__img img {
  max-width: 100%;
  height: auto;
}

.news-slider__body {
  padding-right: 40px;
}

.news-slider__name {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.38px;
  margin-bottom: 15px;
  display: block;
  transition: color 0.3s;
}

.news-slider__name:hover {
  color: #fc9346;
  text-decoration: none;
}

.news-slider__text {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  margin-bottom: 15px;
}

.news-slider__exempli {
  font-size: 15px;
  color: #97989a;
  font-style: italic;
  letter-spacing: -0.38px;
  width: 300px;
}

.news-slider__btn-more {
  font-size: 14px;
  color: #008ab1;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 350px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 40px auto;
  border-radius: 50px;
  border: 2px solid #008ab1;
  transition: color 0.3s, background-color 0.3s;
}

.news-slider__btn-more:hover {
  color: #fff;
  text-decoration: none;
  background-color: #fc9346;
  border-color: transparent;
}

.opening-times__section {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.opening-times__address {
  color: #3c3b3c;
}

.opening-times__time {
  color: #008ab1;
  text-align: right;
}

.pricelist-block {
  margin-bottom: 40px;
}

.pricelist-block__titles-wr {
  margin-bottom: 10px;
  padding-left: 300px;
  padding-right: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricelist-block__titles-item {
  color: #3c3b3c;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.pricelist-block__titles-item--name {
  -ms-flex: 1 1;
      flex: 1 1;
  max-width: 400px;
  margin-right: 20px;
}

.pricelist-block__titles-item--price {
  -ms-flex: 0 0 340px;
      flex: 0 0 340px;
}

.pricelist-block__list-wr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricelist-block__column--left {
  -ms-flex: 0 0 240px;
      flex: 0 0 240px;
  margin-right: 20px;
}

.pricelist-block__column--right {
  -ms-flex: 1 1;
      flex: 1 1;
}

.pricelist-block__categor {
  margin-bottom: 45px;
  border-top: 1px solid #e3e9ee;
}

.pricelist-block__categor > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  line-height: 1;
}

.pricelist-block__categor > ul > li {
  border-bottom: 1px solid #e3e9ee;
}

.pricelist-block__categor > ul > li.active > a {
  color: #fc9346;
}

.pricelist-block__categor > ul > li > a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #008ab1;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 10px 12px 45px;
}

.pricelist-block__categor > ul > li > a:before {
  content: "›";
  position: absolute;
  top: 50%;
  width: 5px;
  left: 20px;
  height: 16px;
  margin-top: -10px;
}

.pricelist-block__categor > ul > li > a:hover {
  color: #fc9346;
  text-decoration: none;
}

.pricelist-block__banner {
  position: relative;
  min-height: 350px;
}

.pricelist-block__banner-name {
  position: absolute;
  top: 65px;
  right: 20px;
  left: 20px;
  color: #008ab1;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}

.pricelist-block__banner-recording {
  position: absolute;
  bottom: 50px;
  left: 20px;
  right: 20px;
  text-align: center;
}

.pricelist-block__banner-recording > a {
  display: inline-block;
  min-width: 170px;
  font-size: 14px;
  padding: 13px 20px;
}

.pricelist-block__pricelist-body {
  display: none;
}

.pricelist-block__pricelist-body.active {
  display: block;
}

.pricelist-block__pricelist-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 5px 40px;
}

.pricelist-block__pricelist-item:nth-child(odd) {
  background: #f3f7fa;
}

.pricelist-block__pricelist-item:hover .pricelist-block__pricelist-item-price {
  color: #fc9346;
}

.pricelist-block__pricelist-item:hover .pricelist-block__pricelist-item-name > a {
  color: #fc9346;
}

.pricelist-block__pricelist-item:hover .pricelist-block__pricelist-item-recording-link {
  text-decoration: none;
  color: #fff;
  border-color: #fc9346;
  background-color: #fc9346;
}

.pricelist-block__pricelist-item-name {
  -ms-flex: 1 1;
      flex: 1 1;
  max-width: 400px;
  margin-right: 20px;
}

.pricelist-block__pricelist-item-name > a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #008ab1;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-decoration: underline;
}

.pricelist-block__pricelist-item-name > a:before {
  content: "•";
  position: absolute;
  left: -14px;
  top: 50%;
  margin-top: -8px;
}

.pricelist-block__pricelist-item-right {
  -ms-flex: 0 0 340px;
      flex: 0 0 340px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.pricelist-block__pricelist-item-recording {
  -ms-flex: 0 0 170px;
      flex: 0 0 170px;
}

.pricelist-block__pricelist-item-recording-link {
  display: block;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #008ab1;
  color: #008ab1;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 11px 5px;
  text-align: center;
}

.pricelist-block__pricelist-item-recording-link:hover {
  text-decoration: none;
  color: #fff;
  border-color: #fc9346;
  background-color: #fc9346;
}

.pricelist-block__pricelist-item-price {
  -ms-flex: 1 1;
      flex: 1 1;
  font-size: 16px;
  color: #3c3b3c;
}

.pricelist-block__pricelist-item-price strong {
  font-size: 18px;
}

.question {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
}

.question:hover .question__body {
  display: block;
}

.question__title {
  cursor: pointer;
  display: block;
  width: 22px;
  height: 22px;
  background: #c7d1d8;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.question__body {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 224px;
  box-shadow: 0 4px 7px rgba(1,1,1,0.16);
  border: 1px solid #eaeaea;
  background-color: #fff;
  z-index: 11;
  margin-top: 6px;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  display: none;
}

.question__body p {
  margin: 5px 0;
}

.question__body strong {
  color: #3a3a3a;
}

.question__body:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  border-style: solid;
  border-width: 0 10px 8px 10px;
  border-color: transparent transparent #eaeaea transparent;
  margin-left: -10px;
}

.question__body:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -7px;
  border-style: solid;
  border-width: 0 9px 7px 9px;
  border-color: transparent transparent #fff transparent;
  margin-left: -9px;
}

.reviews-slider {
  -ms-flex: none;
      flex: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reviews-slider--type2 {
  background: #f3f7fa;
  margin-bottom: 0;
  padding-top: 50px;
}

.reviews-slider--type2 .reviews-slider__title {
  font-size: 36px;
  color: #3c3b3c;
  line-height: 1;
  text-transform: inherit;
}

.reviews-slider--type2 .reviews-slider__item:hover {
  background: #fff;
}

.reviews-slider--type2 .reviews-slider__items .owl-nav {
  top: -75px;
}

.reviews-slider--type2 .reviews-slider__name,
.reviews-slider--type2 .reviews-slider__text {
  width: auto;
}

.reviews-slider__head {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.reviews-slider__title {
  font-size: 48px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}

.reviews-slider__title span {
  color: #008ab1;
}

.reviews-slider__desc {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
  line-height: 20px;
  width: 400px;
  max-width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.reviews-slider__items .owl-stage {
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider__items .owl-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.reviews-slider__items .owl-nav {
  position: absolute;
  top: -130px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider__items .owl-nav svg {
  width: 25px;
  height: 35px;
}

.reviews-slider__items .owl-nav .owl-prev {
  margin-right: 15px;
}

.reviews-slider__items .owl-nav .owl-prev svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.reviews-slider__items .owl-nav .owl-next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.reviews-slider__items .owl-nav .owl-prev:hover svg path,
.reviews-slider__items .owl-nav .owl-next:hover svg path {
  fill: #008ab1;
}

.reviews-slider__item {
  padding-top: 15px;
  margin-right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.reviews-slider__item:hover {
  background-color: #f3f7fa;
}

.reviews-slider__img {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid #f0f4f5;
}

.reviews-slider__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 210px;
  padding: 0 20px;
}

.reviews-slider__text {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
  width: 240px;
  padding: 20px;
}

.reviews-slider__btn-more {
  font-size: 14px;
  color: #008ab1;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 350px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 40px auto;
  border-radius: 50px;
  border: 2px solid #008ab1;
  transition: color 0.3s, background-color 0.3s;
}

.reviews-slider__btn-more:hover {
  color: #fff;
  text-decoration: none;
  background-color: #fc9346;
  border-color: transparent;
}

.s-baner {
  -ms-flex: none;
      flex: none;
  margin-bottom: 35px;
}

.s-baner__body {
  padding-top: 70px;
  padding-left: 50px;
  padding-bottom: 70px;
}

.s-baner__title {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 48px;
}

.s-baner__desc {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 48px;
}

.s-path {
  font-size: 13px;
  color: #97989b;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 15px;
  -ms-flex: none;
      flex: none;
}

.s-path a {
  text-decoration: underline;
  color: #008ab1;
}

.s-path a:hover {
  text-decoration: none;
}

.s-path--pathPos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 2;
}

.s-path__separator {
  line-height: 14px;
}

.s-path__separator .svg-icon--arrow {
  width: 5px;
  height: 7px;
}

.service-navigation {
  -ms-flex: none;
      flex: none;
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.service-navigation ::-webkit-scrollbar {
  width: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.service-navigation ::-webkit-scrollbar-track {
  background: #d1d1d1;
}

.service-navigation ::-webkit-scrollbar-thumb {
  background: #ff9a50;
}

.service-navigation ::-webkit-scrollbar-thumb:hover {
  background: #e75a1d;
}

.service-navigation__nav {
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 320px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
  border-left: 20px solid #fc9346;
}

.service-navigation__nav > ul {
  list-style-type: none;
  width: 30%;
  -ms-flex: 1 0 30%;
      flex: 1 0 30%;
  height: 100%;
  padding: 31px 0 30px 55px;
  margin-bottom: 0;
  background-color: #008ab1;
}

.service-navigation__nav > ul > li {
  margin-bottom: 4px;
}

.service-navigation__nav > ul > li:last-child {
  margin-bottom: 0;
}

.service-navigation__nav > ul > li:hover > a:before {
  left: 7px;
}

.service-navigation__nav > ul > li > a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 25px;
  display: block;
  position: relative;
}

.service-navigation__nav > ul > li > a:hover {
  text-decoration: none;
}

.service-navigation__nav > ul > li > a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 10px;
  margin-top: -5px;
  background: url("../img/arrow.svg") 0 0 no-repeat;
  background-size: contain;
  transition: left 0.3s;
}

.service-navigation__nav > ul .sub-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #007191;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 30px 40px 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33.3%;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  z-index: -1;
  transition: opacity 0.3s, ease 0.5s;
  -webkit-overflow-scrolling: touch;
}

.service-navigation__nav > ul .sub-menu ul li {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  padding-left: 25px;
  margin-bottom: 10px;
}

.service-navigation__nav > ul .sub-menu ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  word-break: break-word;
  display: block;
  padding-left: 35px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  position: relative;
}

.service-navigation__nav > ul .sub-menu ul li a:hover {
  text-decoration: underline;
  border-color: #d7dde1;
}

.service-navigation__nav > ul .sub-menu ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  width: 5px;
  height: 5px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 50%;
}

.service-navigation__nav > ul .sub-menu:hover:before {
  left: 7px;
}

.service-navigation__nav > ul .sub-menu:hover ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.slider-specialists {
  -ms-flex: none;
      flex: none;
}

.slider-specialists__head {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.slider-specialists__title {
  font-size: 48px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}

.slider-specialists__title span {
  color: #008ab1;
}

.slider-specialists__desc {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
  line-height: 20px;
  width: 400px;
  max-width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: -250px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.slider-specialists__items .owl-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.slider-specialists__items .owl-nav {
  position: absolute;
  top: -130px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
}

.slider-specialists__items .owl-nav svg {
  width: 25px;
  height: 35px;
}

.slider-specialists__items .owl-nav .owl-prev {
  margin-right: 15px;
}

.slider-specialists__items .owl-nav .owl-prev svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-specialists__items .owl-nav .owl-next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider-specialists__items .owl-nav .owl-prev:hover svg path,
.slider-specialists__items .owl-nav .owl-next:hover svg path {
  fill: #008ab1;
}

.slider-specialists__item {
  background-color: #fff;
  margin-right: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.slider-specialists__item:hover .slider-specialists__btn-sign-up {
  display: block;
}

.slider-specialists__img {
  padding-top: 20px;
  border: 1px solid #f0f4f5;
  margin-bottom: 15px;
}

.slider-specialists__img img {
  max-width: 100%;
  height: auto;
}

.slider-specialists__body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.slider-specialists__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 210px;
  margin-bottom: 15px;
}

.slider-specialists__text {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
  width: 240px;
}

.slider-specialists__btn-sign-up {
  width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.slider-specialists__btn-more {
  font-size: 14px;
  color: #008ab1;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 350px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 40px auto;
  border-radius: 50px;
  border: 2px solid #008ab1;
  transition: color 0.3s, background-color 0.3s;
}

.slider-specialists__btn-more:hover {
  color: #fff;
  text-decoration: none;
  background-color: #fc9346;
  border-color: transparent;
}

.social-links__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.social-links__link {
  -ms-flex: 0 0 20px;
      flex: 0 0 20px;
  width: 20px;
  max-width: 20px;
  margin-right: 30px;
}

.social-links__link:last-child {
  margin-right: 0;
}

.social-links__link img {
  max-width: 100%;
  height: auto;
}

.specialist-lot {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specialist-lot__column--left {
  -ms-flex: 0 0 420px;
      flex: 0 0 420px;
  margin-right: 40px;
}

.specialist-lot__column--right {
  -ms-flex: 1 1;
      flex: 1 1;
}

.specialist-lot__image {
  border: 1px solid #f0f4f5;
  text-align: center;
  padding: 20px 10px 0;
  border-bottom: none;
}

.specialist-lot__image img {
  max-width: 100%;
  vertical-align: middle;
}

.specialist-lot__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #008ab1;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  padding: 28px 10px;
}

.specialist-lot__price-title {
  font-size: 16px;
  margin-right: 25px;
}

.specialist-lot__price-body {
  font-size: 18px;
}

.specialist-lot__price-body strong {
  font-size: 30px;
}

.specialist-lot__achievements {
  background: #f3f7fa;
  padding: 25px 30px 25px 50px;
  margin: 0 0 40px;
}

.specialist-lot__achievements li {
  font-size: 16px;
  line-height: 1.3;
  color: #3c3b3c;
  margin-bottom: 5px;
}

.specialist-lot__achievements li a {
  color: #008ab1;
  text-decoration: underline;
}

.specialist-lot__achievements li a:hover {
  text-decoration: none;
}

.specialist-lot__recording {
  text-align: center;
}

.specialist-lot__recording-link {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 22px 10px;
  text-align: center;
  border-radius: 30px;
  min-width: 220px;
}

.specialist-lot__career {
  font-size: 18px;
  line-height: 1.2;
  color: #3c3b3c;
  margin-bottom: 30px;
}

.specialist-lot__career strong {
  color: #008ab1;
}

.specialist-lot__career-item {
  margin-bottom: 10px;
}

.specialist-lot__description {
  font-size: 16px;
  color: #3c3b3c;
  margin-bottom: 30px;
}

.specialist-lot__description--type2 {
  background: #f3f7fa;
  padding: 40px 45px 40px;
}

.specialist-lot__list {
  padding: 0 0 0 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #008ab1;
  font-size: 16px;
  line-height: 1;
}

.specialist-lot__list.specialist-lot__list--type2 {
  display: block;
  color: #3c3b3c;
}

.specialist-lot__list.specialist-lot__list--type2 > li {
  margin-right: 0;
}

.specialist-lot__list.specialist-lot__list--type2 > li i {
  color: #97989b;
}

.specialist-lot__list > li {
  -ms-flex: 0 0 48%;
      flex: 0 0 48%;
  margin-right: 2%;
  margin-bottom: 15px;
}

.specialist-lot__list > li:nth-child(2n) {
  margin-right: 0;
}

.specialist-lot__list > li a {
  color: #008ab1;
  text-decoration: underline;
}

.specialist-lot__list > li a:hover {
  text-decoration: none;
}

.specialists-list {
  -ms-flex: none;
      flex: none;
  margin-bottom: 40px;
}

.specialists-list__filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1;
  font-size: 0;
  margin-bottom: 40px;
}

.specialists-list__filter-title {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  font-size: 16px;
  line-height: 1;
  color: #3c3b3c;
  font-weight: 700;
  text-transform: uppercase;
}

.specialists-list__filter-body {
  -ms-flex: 1 1;
      flex: 1 1;
}

.specialists-list__filter-item {
  display: inline-block;
  margin-left: 40px;
  color: #008ab1;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 5px;
}

.specialists-list__filter-item:hover {
  text-decoration: none;
}

.specialists-list__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specialists-list__list .specialists-thumb {
  -ms-flex: 0 0 24.25%;
      flex: 0 0 24.25%;
  margin-right: 1%;
  margin-bottom: 35px;
}

.specialists-list__list .specialists-thumb:nth-child(4n) {
  margin-right: 0;
}

.specialists-list__more {
  text-align: center;
}

.specialists-list__more-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #008ab1;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 10px;
  width: 100%;
  max-width: 350px;
  border-radius: 30px;
  border: 2px solid #008ab1;
  transition: color 0.3s, background-color 0.3s;
}

.specialists-list__more-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #fc9346;
  border-color: transparent;
}

.specialists-thumb {
  background-color: #fff;
  position: relative;
}

.specialists-thumb:hover .specialists-thumb__btn-sign-up {
  display: block;
}

.specialists-thumb__img {
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 350px;
  border: 1px solid #f0f4f5;
  margin-bottom: 15px;
}

.specialists-thumb__img img {
  max-width: 100%;
  height: auto;
  max-height: 350px;
  vertical-align: middle;
}

.specialists-thumb__name {
  text-decoration: none;
  color: #212529;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  max-width: 210px;
  margin-bottom: 15px;
}

.specialists-thumb__name:hover {
  color: #212529;
}

.specialists-thumb__text {
  font-size: 15px;
  color: #97989a;
  font-weight: 400;
}

.specialists-thumb__btn-sign-up {
  width: 100%;
  max-width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.testing-block {
  margin-bottom: 40px;
}

.testing-block__title {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  background-color: #008ab1;
  padding: 15px 40px;
}

.testing-block__body {
  padding: 30px 40px 15px 40px;
  border: 1px solid #f0f4f5;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.testing-block__img {
  -ms-flex: 0 0 213px;
      flex: 0 0 213px;
  width: 213px;
  max-width: 213px;
}

.testing-block__img img {
  max-width: 100%;
  height: auto;
}

.testing-block__info {
  -ms-flex: 0 0 505px;
      flex: 0 0 505px;
  width: 505px;
  max-width: 505px;
}

.testing-block__text {
  font-size: 15px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}

.testing-block__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.testing-block__btn-start {
  text-align: center;
  width: 290px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 50px;
}

.testing-block__btn-start:hover {
  color: #fff;
}

.testing-block__count-issues {
  font-size: 14px;
  color: #008ab1;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.top-menu__nav ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.top-menu__nav ul li:not(:last-child) {
  margin-right: 20px;
}

.top-menu__nav ul li a {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.type-service {
  margin-bottom: 80px;
}

.type-service__section {
  background-color: #008ab1;
}

.type-service__content {
  display: -ms-flexbox;
  display: flex;
}

.type-service__slider {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}

.type-service__slider-items .owl-dots {
  position: absolute;
  top: 50px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.type-service__slider-items .owl-dot {
  width: 9px;
  height: 9px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-bottom: 45px;
  transition: width 0.3s, height 0.3s, background-color 0.3s, border-color 0.3s;
}

.type-service__slider-items .owl-dot:last-child {
  margin-bottom: 0;
}

.type-service__slider-items .owl-dot span {
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s;
}

.type-service__slider-items .owl-dot.active {
  border: 2px solid #fff;
}

.type-service__slider-items .owl-dot.active span {
  background-color: transparent;
}

.type-service__slider-item {
  padding-top: 80px;
  padding-bottom: 73px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.type-service__slider-body {
  width: 436px;
  max-width: 100%;
  margin-left: 185px;
}

.type-service__title {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 35px;
}

.type-service__text {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 40px;
}

.type-service__btn-get-consultation {
  width: 290px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 50px;
  display: block;
}

.type-service__extra {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}

.type-service__extra .type-service__text {
  margin-bottom: 0;
}

.type-service__extra-items {
  width: 640px;
  max-width: 100%;
}

.type-service__extra-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.type-service__extra-item--spec .type-service__img {
  -ms-flex-order: 1;
      order: 1;
}

.type-service__img {
  -ms-flex: 0 0 320px;
      flex: 0 0 320px;
  width: 320px;
  max-width: 320px;
}

.type-service__img img {
  max-width: 100%;
  height: auto;
}

.type-service__body {
  padding: 15px 50px 15px 40px;
}

.type-service__name {
  color: #feffff;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.type-service__btn-entry {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 30px 19px;
  margin-top: 20px;
  display: block;
  border-radius: 30px;
  border: 2px solid #fff;
}

.type-service__btn-entry:hover {
  color: #fff;
}

.video-content {
  margin-top: 30px;
  margin-bottom: 40px;
}

.video-content__title {
  font-size: 36px;
  color: #3c3b3c;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
}

.video-content__body {
  height: 300px;
  position: relative;
}

.video-content__btn-play {
  width: 85px;
  height: 85px;
  background: url("../img/play-icon.png") 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-content__container {
  width: 1280px;
  max-width: 100%;
}

.video-content__info {
  height: 130px;
  display: -ms-flexbox;
  display: flex;
}

.video-content__contacts {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  padding: 30px 40px;
  background-color: #008ab1;
  -ms-flex: 0 0 35%;
      flex: 0 0 35%;
  width: 35%;
  max-width: 35%;
}

.video-content__phone {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  padding-left: 40px;
  margin-top: 15px;
  display: block;
  position: relative;
}

.video-content__phone:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/phone-w-icon.png") 0 0 no-repeat;
}

.video-content__phone:hover {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

.video-content__phone span {
  color: #fff;
  font-weight: 400;
}

.video-content__list {
  list-style-type: none;
  padding: 30px 40px;
  margin-bottom: 0;
  width: 70%;
  background-color: #f3f7fa;
}

.video-content__list li {
  font-size: 16px;
  color: #3c3b3c;
  font-weight: 400;
  line-height: 24px;
  padding-left: 15px;
  position: relative;
}

.video-content__list li:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #3c3b3c;
  border-radius: 50%;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 1800px) {
  .form-questions__section {
    background: #008ab1 url("../img/form-bg.png") -105px 0 no-repeat;
  }
}

@media (max-width: 1900px) {
  .about-us__section:after {
    display: none;
  }
}

@media (max-width: 1600px) {
  .type-service__slider-body {
    margin-left: 0;
  }
}

@media (max-width: 1360px) {
  .service-navigation__nav > ul .sub-menu ul {
    width: 64%;
    left: 32.3%;
  }
}

@media (max-width: 1279px) {
  .app-footer .categories-footer {
    display: none;
  }

  .app-header {
    margin-bottom: 50px;
  }

  .app-header__main-menu {
    display: none !important;
  }

  .contain {
    width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .about-us__content {
    padding-left: 0;
    padding-right: 0;
  }

  .about-us__img {
    -ms-flex: 0 0 300px;
        flex: 0 0 300px;
    width: 300px;
    max-width: 300px;
  }

  .contact-details__inner {
    display: block;
  }

  .contact-details__form {
    -ms-flex: 0 0 700px;
        flex: 0 0 700px;
    width: 700px;
    max-width: 700px;
    background: #008ab1;
    padding: 20px;
  }

  .contact-details__form-body {
    margin-left: 0;
    width: 100%;
  }

  .form-questions__section {
    background: #51afca;
  }

  .form-questions__body {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }

  .location__items {
    display: block;
  }

  .location__item {
    margin-bottom: 35px;
  }

  .location__text {
    padding-right: 0;
  }

  .logo {
    width: auto;
  }

  .main-menu ::-webkit-scrollbar {
    height: 3px;
  }

  .main-menu .main-menu-info {
    display: none !important;
  }

  .main-slider {
    margin-bottom: 0;
  }

  .service-navigation {
    display: none;
  }

  .service-navigation ::-webkit-scrollbar {
    height: 3px;
  }

  .type-service__section {
    width: 638px;
    max-width: 100%;
    margin: 0 auto;
  }

  .type-service__content {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }

  .type-service__slider {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .type-service__extra {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .app-header__top-line {
    display: none;
  }

  .app-header__site-info {
    display: none;
  }

  .about-us {
    margin-bottom: 40px;
  }

  .aside-content {
    display: none;
  }

  .main-slider {
    margin-top: 70px;
  }

  .main-slider__items .owl-dots {
    right: 5%;
  }

  .main-slider__item {
    padding-top: 40px;
    padding-bottom: 130px;
  }

  .mobile-panel {
    display: block;
  }

  .mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods ul li {
    -ms-flex: 0 0 35%;
        flex: 0 0 35%;
    width: 35%;
    max-width: 35%;
  }

  .mobile-panel__inner .menu-mob .main-menu-mob__nav ul li.sub-menu.sub-menu--mods ul {
    width: 750px;
  }
}

@media all and (max-width: 1024px) {
  .app.main .app__wrapper {
    padding-top: 0;
  }

  .app__wrapper {
    padding-top: 80px;
  }

  .app__aside--left {
    display: none;
  }

  .accordion__title {
    font-size: 18px;
  }

  .pricelist-block__titles-wr {
    display: none;
  }

  .pricelist-block__pricelist-item {
    display: block;
    padding: 5px 5px 5px 20px;
  }

  .pricelist-block__pricelist-item-name {
    margin-bottom: 5px;
  }

  .s-path {
    margin-top: 0;
  }

  .specialist-lot__column--left {
    -ms-flex: 0 0 340px;
        flex: 0 0 340px;
    margin-right: 20px;
  }

  .specialist-lot__price {
    padding: 18px 10px;
  }

  .specialist-lot__price-title {
    margin-right: 15px;
  }

  .specialist-lot__achievements {
    padding: 20px 15px 20px 35px;
    margin-bottom: 20px;
  }

  .specialists-list__filter {
    margin-bottom: 30px;
    display: block;
    position: relative;
  }

  .specialists-list__filter-title {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #f0f4f5;
  }

  .specialists-list__filter-title:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    width: 16px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generated by IcoMoon.io --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20' fill='%23000'%3E%3Cpath d='M17.418 6.109c0.272-0.268 0.709-0.268 0.979 0s0.271 0.701 0 0.969l-7.908 7.83c-0.27 0.268-0.707 0.268-0.979 0l-7.908-7.83c-0.27-0.268-0.27-0.701 0-0.969s0.709-0.268 0.979 0l7.419 7.141 7.418-7.141z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-size: 100% 100%;
  }

  .specialists-list__filter-body {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    background: #fff;
    z-index: 1;
    border: 1px solid #f0f4f5;
    margin-top: -1px;
    display: none;
  }

  .specialists-list__filter-body a {
    display: block;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #f0f4f5;
  }

  .specialists-list__filter-body a:last-child {
    border-bottom: none;
  }

  .specialists-list__list .specialists-thumb {
    -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    margin-right: 2%;
    margin-bottom: 20px;
  }

  .specialists-list__list .specialists-thumb:nth-child(4n) {
    margin-right: 2%;
  }

  .specialists-list__list .specialists-thumb:nth-child(3n) {
    margin-right: 0;
  }

  .specialists-list__more {
    text-align: center;
  }

  .specialists-list__more-link {
    padding: 15px 10px;
  }
}

@media (max-width: 960px) {
  .about-us__body {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 570px;
    max-width: 100%;
    padding-left: 20px;
  }

  .about-us__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 959px) {
  .form-questions__body {
    display: block;
  }

  .form-questions__head {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .form-questions__title {
    margin-bottom: 15px;
  }

  .form-questions__form {
    width: 100%;
    max-width: 100%;
  }

  .form-questions__exempli {
    width: 350px;
    max-width: 100%;
  }

  .testing-block__info {
    -ms-flex: 0 0 405px;
        flex: 0 0 405px;
    width: 405px;
    max-width: 405px;
  }

  .testing-block__btn-start {
    width: 210px;
    max-width: 100%;
  }

  .video-content__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 15px;
  }

  .video-content__contacts {
    padding: 20px;
  }

  .video-content__list {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .contact-details__form {
    width: 100%;
    max-width: 100%;
  }

  .contact-details__inputs {
    display: block;
  }

  .contact-details__input {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .contacts-info__body {
    position: static;
    width: 450px;
    margin: 0 auto;
  }

  .map {
    height: 350px;
  }

  .form-questions__title {
    font-size: 36px;
    line-height: 40px;
  }

  .form-questions__desc {
    font-size: 16px;
    line-height: 18px;
  }

  .form-questions__inputs {
    display: block;
  }

  .form-questions__input {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .news-slider__head {
    display: block;
  }

  .news-slider__title {
    font-size: 36px;
    line-height: 40px;
  }

  .news-slider__desc {
    margin-left: 0 !important;
    -webkit-transform: none;
            transform: none;
    margin-top: 15px;
  }

  .reviews-slider__head {
    display: block;
  }

  .reviews-slider__title {
    font-size: 36px;
    line-height: 40px;
  }

  .reviews-slider__desc {
    margin-left: 0 !important;
    -webkit-transform: none;
            transform: none;
    margin-top: 15px;
  }

  .slider-specialists__head {
    display: block;
  }

  .slider-specialists__title {
    font-size: 36px;
    line-height: 40px;
  }

  .slider-specialists__desc {
    margin-left: 0 !important;
    -webkit-transform: none;
            transform: none;
    margin-top: 15px;
  }

  .type-service {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .card-info__doc {
    display: block;
  }

  .card-info__img {
    width: 320px;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .list-services__table {
    padding: 20px;
  }

  .list-services__table table thead {
    display: none;
  }

  .list-services__table table tbody tr td {
    display: block;
    padding-left: 35px;
  }

  .list-services__table table tbody tr td:first-child {
    width: 100%;
    padding-top: 10px;
  }

  .list-services__table table tbody tr td:nth-child(2) {
    width: 100%;
  }

  .list-services__table table tbody tr td:nth-child(3) {
    padding-bottom: 10px;
  }

  .main-slider__items .owl-dots {
    -webkit-transform: none;
            transform: none;
  }

  .main-slider__item {
    padding-bottom: 80px;
    background: #f0f1f6 !important;
  }

  .main-slider__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .s-baner {
    display: none;
  }

  .s-baner__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .service-navigation {
    margin-top: 70px;
  }

  .testing-block__title {
    padding: 20px;
  }

  .testing-block__body {
    padding: 20px;
  }

  .testing-block__img {
    display: none;
  }

  .testing-block__info {
    -ms-flex: none;
        flex: none;
    width: 100%;
    max-width: 100%;
  }

  .type-service__slider-items .owl-dots {
    -webkit-transform: none;
            transform: none;
  }

  .video-content__info {
    display: block;
    height: auto;
  }

  .video-content__contacts {
    width: 100%;
    max-width: 100%;
  }

  .video-content__list {
    width: 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 766px) {
  h1 {
    font-size: 32px;
    line-height: 1.1;
  }

  .pricelist-block__categor {
    margin-bottom: 20px;
  }

  .pricelist-block__list-wr {
    display: block;
  }

  .pricelist-block__column--left {
    margin: 0 0 20px;
  }

  .pricelist-block__banner {
    max-width: 240px;
    margin: 0 auto;
  }

  .specialist-lot {
    display: block;
  }

  .specialist-lot__column--left {
    margin: 0 0 20px;
  }

  .specialist-lot__list {
    padding-left: 30px;
  }

  .specialist-lot__list > li {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    margin-right: 0;
  }

  .specialist-lot__description--type2 {
    padding: 20px 20px;
  }

  .specialists-list__list .specialists-thumb {
    -ms-flex: 0 0 49%;
        flex: 0 0 49%;
  }

  .specialists-list__list .specialists-thumb:nth-child(3n) {
    margin-right: 2%;
  }

  .specialists-list__list .specialists-thumb:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .about-us__content {
    display: block;
  }

  .about-us__img {
    width: 200px;
    max-width: 100%;
  }

  .about-us__body {
    padding-left: 0;
  }

  .accordion__content {
    display: block;
  }

  .accordion__img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .form-questions__title {
    font-size: 28px;
    line-height: 30px;
  }

  .location__map {
    height: 350px;
  }

  .type-service__slider-items .owl-dots {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: auto;
    bottom: -25px;
    width: 200px;
    -ms-flex-align: start;
        align-items: flex-start;
  }

  .type-service__slider-item {
    padding-top: 20px;
    padding-bottom: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px 20px 50px 20px;
  }

  .type-service__title {
    font-size: 28px;
    line-height: 34px;
  }

  .type-service__extra-item--spec .type-service__img {
    -ms-flex-order: 0;
        order: 0;
  }

  .type-service__extra-item {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .type-service__img {
    -ms-flex: none;
        flex: none;
  }

  .type-service__body {
    padding: 15px;
  }
}

@media (max-width: 639px) {
  .app-footer__items {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }

  .app-footer__item--info {
    -ms-flex: none;
        flex: none;
    margin-bottom: 25px;
  }

  .app-footer .call-back {
    margin-bottom: 20px;
  }

  .contact-details__form-title {
    font-size: 28px;
  }

  .contact-details__bot {
    display: block;
  }

  .contact-details__exempli {
    margin-bottom: 15px;
    margin-right: 0;
    font-size: 13px;
  }

  .location {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .main-slider__text {
    width: 350px;
  }
}

@media all and (max-width: 560px) {
  .specialists-list__list .specialists-thumb {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    margin-right: 0;
  }

  .specialists-list__list .specialists-thumb:nth-child(4n),
  .specialists-list__list .specialists-thumb:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .about-us__title {
    font-size: 24px;
    line-height: 30px;
  }

  .main-slider__items .owl-dots {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: auto;
    bottom: -15px;
    width: 200px;
    -ms-flex-align: start;
        align-items: flex-start;
  }

  .main-slider__title {
    font-size: 26px;
    line-height: 30px;
  }

  .news-slider__title {
    font-size: 28px;
    line-height: 32px;
  }

  .news-slider__desc {
    font-size: 14px;
  }

  .news-slider__items .owl-nav {
    top: -35px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }

  .reviews-slider__title {
    font-size: 28px;
    line-height: 32px;
  }

  .reviews-slider__desc {
    font-size: 14px;
  }

  .reviews-slider__items .owl-nav {
    top: -35px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }

  .s-baner {
    margin-bottom: 10px;
  }

  .s-baner__body {
    padding: 35px;
  }

  .s-baner__title {
    font-size: 28px;
    line-height: 32px;
  }

  .s-baner__desc {
    font-size: 16px;
    line-height: 25px;
  }

  .slider-specialists__title {
    font-size: 28px;
    line-height: 32px;
  }

  .slider-specialists__desc {
    font-size: 14px;
  }

  .slider-specialists__items .owl-nav {
    top: -35px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }

  .video-content__title {
    font-size: 26px;
    line-height: 28px;
  }
}

@media (max-width: 479px) {
  .card-info__plate {
    padding: 20px;
  }

  .testing-block__bot {
    display: block;
  }

  .testing-block__btn-start {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }

  .testing-block__count-issues br {
    display: none;
  }
}

@media (max-width: 440px) {
  .form-questions__bot {
    display: block;
  }

  .form-questions__exempli {
    margin-bottom: 15px;
  }
}

@media (max-width: 439px) {
  .logo__body {
    display: none;
  }

  .mobile-panel .contacts__body {
    left: 0px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .main-slider__item {
    background-position: 55% 0 !important;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .logo__body {
    display: none;
  }
}