.mobile-panel
    background-color #fff
    width 100%
    top 0
    left 0
    position fixed
    z-index 200
    display none

    @media (max-width: 1024px)
        display block
          
    &__section
        width 100%
        padding 10px 20px
        border-bottom 2px solid #008ab1

    &__items
        display flex
        align-items center
        justify-content space-between
    
    &__inner

        .top-menu
            padding 20px

            &__nav

                ul
                    display block

                    li
                        margin-bottom 15px

                        a
                            color #008ab1
                            font-size 16px
                            display block
        
        .menu-mob
            background-color #fff
            width 320px
            position absolute
            top 70px
            left -320px
            padding 0 0 100px
            z-index 100
            height 100vh
            overflow-y auto
            transition left .3s
            // box-shadow inset 0px 30px 90px 0px rgba(213,220,229,0.5)

            &.menu-is-active
                left 0 

            .main-menu-mob
                background-color #fc9346
                padding 20px

                &__nav
                    ul
                        list-style-type none
                        padding-left 0
                        margin-bottom 0

                        li
                            margin-bottom 15px
                            position relative

                            .sub-menu-trigger
                                position absolute
                                top 0
                                right 10px
                                width 30px
                                height 30px
                                background url(../img/arrow-bl.svg) 50% 50% no-repeat
                                .svg-icon
                                    display none
                                &.rotade
                                    transform: rotate(180deg);

                            &.sub-menu

                                &.sub-menu--mods
                                    a
                                        padding-right 0
                                        &:hover
                                            color #fff
                                        &:before
                                            display none
                                        &:after
                                            display none
                                    
                                    ul

                                        li
                                            display flex
                                            align-items center
                                            margin-bottom 15px !important
                                            @media (max-width: 1024px)
                                                flex 0 0 35%
                                                width 35%
                                                max-width 35%
                                            span 
                                                flex 0 0 75px
                                                width 75px
                                                max-width 75px
                                                margin-right 10px
                                                img 
                                                    max-width 100%
                                                    height auto

                                        @media (max-width: 1024px)
                                            width 750px            
                                
                                ul
                                    padding-top 5px
                                    padding-left 15px
                                    display none

                                    li
                                        margin-bottom 10px
                                        

                                        a
                                            font-size 16px

                                > a
                                    padding-right 10px
                                    

                            a
                                font-size 18px
                                color #fff
                                font-weight 400
                                padding-bottom 5px
                                padding-left 1px
                                position relative
                                transition color .3s
                                &:hover
                                    color #fff


    
    &__btn-burger
        display block
        width 25px
        height 21px
        padding 0
        background-color #fff
        position relative
        border none
        cursor pointer

        span
            &:before
                transform translateY(-8px)
            &:after
                transform translateY(8px)

    &__btn-burger span,
    &__btn-burger span:before,
    &__btn-burger span:after
        position absolute
        top 50%
        left 0
        margin-top -2px
        width 25px
        height 3px
        background-color #008ab1

    &__btn-burger span:before,
    &__btn-burger span:after
        content ''
        display block
        transition 0.2s

    .btn-burger-is-active
        span
            height 0
            &:before
                transform rotate(45deg)
            &:after
                transform rotate(-45deg)        
    
    &__overlay-menu
        display none
        position fixed
        top 70px
        // right -5000px
        width 100%
        bottom -5000px
        left 0
        background: rgba(43, 46, 56, 0.9);
        z-index -1
        opacity 0
        transition opacity .3s
        
        &.overlay-is-active
            display block  
            left 0
            transition opacity .3s
            opacity 1   
            z-index 100    


    &__logo
        // margin-left auto
        
        .logo

            &__img
                flex 0 0 55px
                width 55px
                max-width 55px

    .contacts
        margin-right auto
        margin-left 25px

        &__btn-phone
            display block
            width 24px
            height 24px
            border none
            background url('../img/phone-bl-icon.png') 0 0 no-repeat
        
        &__body
            text-align center
            padding 20px
            position absolute
            top 70px
            left 60px
            background-color #fff  
            box-shadow 0px 9px 20px 13px rgba(213, 232, 255, 0.5)
            display none

            @media (max-width 439px)
                left 0px
                width 100%
        
        &__phone
            color #3c3b3c
            font-size 22px
            font-weight bold
            position relative
            display block
            padding-left 0
            margin-bottom 15px
            &:before
                content ''
                position absolute
                top 50%
                transform translateY(-50%)
                left 40px
                width 24px
                height 24px
                background url('../img/phone-bl-icon.png') 0 0 no-repeat
                display none
        
            span
                font-size 22px
                color #008ab1
                font-weight 400

            &:hover
                color #3c3b3c
                cursor default           

    .call-back
        width 280px      