<div block="mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="inner">
                <button elem="btn-burger" class="js-btn-burger" type="button"><span></span></button>
                <div elem="overlay-menu"></div>
                
                <div block="menu-mob">
                    {% include "top-menu.html" %}

                    {% if pageTitle != "Лечение депрессии" %}
                        
                    
                    <div block="main-menu-mob">
                        <nav elem="nav">
                            <ul elem="nav-list">
                                <li class="sub-menu">
                                    <a href="#">Психиатрия</a>
                                    <ul>
                                        <li><a href="#">Депрессии</a></li>
                                        <li><a href="#">Депрессии</a></li>
                                        <li><a href="#">Неврозы</a></li>
                                        <li><a href="#">Страхи и фобии</a></li>
                                        <li><a href="#">Панические атаки</a></li>
                                        <li><a href="#">Биполярное расстройство</a></li>
                                        <li><a href="#">Стресс</a></li>
                                        <li><a href="#">Игромания</a></li>
                                        <li><a href="#">Снижение веса</a></li>
                                        <li><a href="#">Табакокурение</a></li>
                                        <li><a href="#">Неврастения</a></li>
                                        <li><a href="#">Сексуальные расстройства</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Психотерапия</a></li>
                                <li><a href="#">Наркология</a></li>
                                <li><a href="#">Неврология</a></li>
                                <li><a href="#">Гемокоррекция</a></li>
                                <li><a href="#">Диагностика</a></li>
                            </ul>
                        </nav>
                    </div>

                    {% endif %}

                    {% if pageTitle == "Лечение депрессии" %}
                        {% include "categories.html" %}
                    {% endif %}
                    
                    {# <div block="contacts">
                        <a elem="phone" href="tel:8125076532"><span>(812)</span> 507 65 32</a>
                    </div> #}

                    {# <button class="call-back site-btn" data-remodal-target="requisition">обратный звонок</button> #}
                    
                </div><!-- b-main-menu-mob -->
            </div>

            <div block="contacts">
                <button elem="btn-phone" class="js-btn-phone" type="button"></button>
                <div elem="body" class="js-contacts-body">
                    <a elem="phone" href="tel:8125076532"><span>(812)</span> 507 65 32</a>
                    <button class="call-back site-btn" data-remodal-target="requisition">обратный звонок</button>
                </div>
            </div>

            <div elem="logo">
                {% include 'logo.html' %}
            </div>
        </div>
    </div>
</div><!-- mobile-panel -->