<div block="contacts-info">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="body" mods="main-loc">
                <div elem="content">
                    <div elem="title">Контакты</div>
                    <div elem="address">Россия, Санкт-Петербург, <br> набережная реки Карповки, 25</div>
                    <div elem="info">
                        <strong>РЕЖИМ РАБОТЫ:</strong>
                        <div elem="opening-time">Ежедневно с 9.00 до 21.00</div>
                        <a elem="phone" href="tel:+78125076532">+7 (812) 507 65 32</a>
                        <a elem="mail" href="mailto:center@karpovka25.ru">center@karpovka25.ru</a>
                    </div>
                </div>
                <a elem="other-location" class="js-other-loc" href="#" id="main_loc"><span>ФИЛИАЛ НА<br>БЛОХИНА 18</span></a>
            </div>
            <div elem="body" mods="other-loc">
                <div elem="content">
                    <div elem="title">Контакты</div>
                    <div elem="address">Россия, Санкт-Петербург, <br> Блохина 18</div>
                    <div elem="info">
                        <strong>РЕЖИМ РАБОТЫ:</strong>
                        <div elem="opening-time">Ежедневно с 9.00 до 21.00</div>
                        <a elem="phone" href="tel:+78125076532">+7 (812) 507 65 32</a>
                        <a elem="mail" href="mailto:center@karpovka25.ru">center@karpovka25.ru</a>
                    </div>
                </div>
                <a elem="other-location" class="js-other-loc" href="#" id="other_loc"><span>набережная реки <br> Карповки, 25</span></a>
            </div>
        </div>
        <div block="map" id="map"></div>
    </div>
</div><!-- contacts-info -->