.contacts-info

    &__inner
        position relative

    &__body
        width 280px
        max-width 100%
        position absolute
        top 55px
        left 40px
        z-index 10

        &--other-loc
            display none

        @media (max-width: 768px)
            position static   
            width 450px 
            margin 0 auto

    &__content
        padding 25px 30px 30px 45px
        background-color #fff

    &__title
        font-size 24px
        color #3c3b3c
        font-weight 700
        text-transform uppercase
        margin-bottom 20px

    &__address
        font-size 14px
        color #3c3b3c
        font-weight 400
        margin-bottom 15px

    &__info

        strong
            font-size 16px     

    &__opening-time
        font-size 14px
        color #3c3b3c
        font-weight 400
        margin-top 5px
        margin-bottom 5px       

    &__phone
        font-size 18px
        color #3c3b3c
        font-weight 700
        line-height 30px
        &:hover
            color #3c3b3c
            text-decoration none
            cursor default

    &__mail
        font-size 15px
        color #008ab1
        font-weight 400
        line-height 24px
        text-decoration underline    
        &:hover
            color #008ab1
            text-decoration none    

    &__other-location
        font-size 16px
        color #ffffff
        font-weight 700
        text-transform uppercase
        background-color #008ab1      
        display block   
        position relative
        transition background-color .3s
        &:before
            content ''
            position absolute
            top 0 
            left 0
            width 45px
            height 70px
            background #fc9346 url('../img/arrow.svg') 50% 50% no-repeat
            background-size auto
            transition background-color .3s

        span 
            color #ffffff
            display block
            padding-left 110px
            padding-top 11px
            padding-bottom 11px    
            position relative
            &:before
                content ''
                position absolute
                top 20px
                left 70px
                width 20px
                height 28px
                background url('../img/other-loc-icon.png') 0 0 no-repeat

        &:hover
            color #fff
            text-decoration none
            background-color #fc9346   
            &:before 
                background #008ab1 url('../img/arrow.svg') 50% 50% no-repeat

.map
    height 450px

    @media (max-width: 768px)
        height 350px