.main-slider
    margin-bottom -130px

    @media (max-width 1279px)
        margin-bottom 0

    @media (max-width 1024px)
        margin-top 70px
    
    &__items

        .owl-dots
            position absolute
            top 50px
            transform translateY(50%)
            right 20%
            display flex
            flex-direction column
            align-items center

            @media (max-width 1024px)
                right 5%

            @media (max-width 767px)
                transform none

            @media (max-width 480px)
                right 50%
                transform translateX(50%)
                flex-direction row
                justify-content space-around
                top auto
                bottom -15px
                width 200px
                align-items flex-start
        
        .owl-dot
            width 9px
            height 9px
            border 2px solid transparent 
            border-radius 50%
            margin-bottom 45px
            transition border-color .3s
            &:last-child
                margin-bottom 0

            span 
                width 5px
                height 5px
                display block
                border-radius 50%
                background-color #008ab1
                transition background-color .3s    

            &.active
                border 2px solid #008ab1

                span 
                    background-color transparent

    &__item
        padding-top 100px
        padding-bottom 230px

        @media (max-width 1024px)
            padding-top 40px
            padding-bottom 130px

        @media (max-width 767px)
            padding-bottom 80px   
            background #F0F1F6 !important

        @media (max-width 375px)
            background-position 55% 0 !important


    &__title
        font-size 48px
        color #3c3b3c
        font-weight 700
        text-transform uppercase
        line-height 60px
        margin-bottom 40px
        width 505px
        max-width 100%

        span
            color #008ab1 

        @media (max-width 767px)
            font-size 36px    
            line-height 40px
            margin-bottom 20px

        @media (max-width 480px)
            font-size 26px   
            line-height 30px 

    &__text
        font-size 15px
        color #3c3b3c
        font-weight 400
        line-height 22px
        width 505px
        max-width 100%
        margin-bottom 40px

        @media (max-width 639px)
            width 350px

    &__btn-sign-up
        display block
        width 290px
        padding-top 22px
        padding-bottom 22px
        border-radius 50px