<div block="main-slider">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="items" class="js-slider-main owl-carousel">
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat;">
                    <div elem="body" class="contain">
                        <div elem="title">многопрофильная <br> <span>психотерапия</span></div>
                        <div elem="text">Наши специалисты обладают различными подходами, направлениями и инструментами, чтобы помочь Вам. Благодаря этому, лечение будет эффективным, так как для Вас обязательно найдут тот инструмент работы, который Вам поможет.</div>
                        <a elem="btn-sign-up" class="site-btn" data-remodal-target="requisition" href="#">записаться на прием</a>
                    </div>
                </div>
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat;">
                    <div elem="body" class="contain">
                        <div elem="title">Медицинский <br> <span>массаж</span></div>
                        <div elem="text">Наши специалисты обладают различными подходами, направлениями и инструментами, чтобы помочь Вам. Благодаря этому, лечение будет эффективным, так как для Вас обязательно найдут тот инструмент работы, который Вам поможет.</div>
                        <a elem="btn-sign-up" class="site-btn" data-remodal-target="requisition" href="#">записаться на прием</a>
                    </div>
                </div>
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat;">
                    <div elem="body" class="contain">
                        <div elem="title">многопрофильная <br> <span>НАРКОЛОГИЯ</span></div>
                        <div elem="text">Наши специалисты обладают различными подходами, направлениями и инструментами, чтобы помочь Вам. Благодаря этому, лечение будет эффективным, так как для Вас обязательно найдут тот инструмент работы, который Вам поможет.</div>
                        <a elem="btn-sign-up" class="site-btn" data-remodal-target="requisition" href="#">записаться на прием</a>
                    </div>
                </div>
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat;">
                    <div elem="body" class="contain">
                        <div elem="title">многопрофильная <br> <span>НЕВРОЛОГИЯ</span></div>
                        <div elem="text">Наши специалисты обладают различными подходами, направлениями и инструментами, чтобы помочь Вам. Благодаря этому, лечение будет эффективным, так как для Вас обязательно найдут тот инструмент работы, который Вам поможет.</div>
                        <a elem="btn-sign-up" class="site-btn" data-remodal-target="requisition" href="#">записаться на прием</a>
                    </div>
                </div>
                <div elem="item" style="background: url('img/main-slider-img.jpg') 50% 0 no-repeat;">
                    <div elem="body" class="contain">
                        <div elem="title">многопрофильная <br> <span>ГИПНОТЕРАПИЯ</span></div>
                        <div elem="text">Наши специалисты обладают различными подходами, направлениями и инструментами, чтобы помочь Вам. Благодаря этому, лечение будет эффективным, так как для Вас обязательно найдут тот инструмент работы, который Вам поможет.</div>
                        <a elem="btn-sign-up" class="site-btn" data-remodal-target="requisition" href="#">записаться на прием</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- main-slider -->