.app-footer
    flex none

    &__section
        background-color #f3f7fa

    &__inner
        padding-top 50px
        padding-bottom 50px    

    &__items
        display flex
        justify-content space-between

        @media (max-width 639px)
            flex-direction column
            justify-content center
            align-items center

    &__item

        &--info
            flex 0 0 245px
            width 245px
            max-width 245px    

            @media (max-width 639px)
                flex none
                margin-bottom 25px

    &__info
        display flex   
        margin-bottom 20px     

    &__logo
        flex 0 0 61px
        width 61px
        max-width 61px

        img     
            max-width 100%
            height auto    

    &__copy
        font-size 15px
        color #3c3b3c
        font-weight 400       
        margin-left 25px

        strong 
            font-weight 700 

    &__exempli
        font-size 14px
        color #97989a
        font-weight 400    
        margin-bottom 20px

    .categories-footer

        @media (max-width 1279px)
            display none

        &__nav
            width 650px
            display flex
            justify-content space-between
            
            ul
                list-style-type none
                padding-left 0
                margin-bottom 0
                margin-right 115px
                &:last-child
                    margin-right 0

                li  
                    position relative
                    padding-left 13px
                    margin-bottom 20px

                    &:before
                        content ''
                        position absolute
                        top 7px
                        left 0
                        width 5px
                        height 5px
                        background-color #3c3b3c
                        border-radius 50%

                    a
                        font-size 14px
                        color #3c3b3c
                        font-weight 400
                        line-height 18px
                        display block
    
    .call-back
        margin-bottom 40px                     
        margin-left 5px

        @media (max-width 639px)
            margin-bottom 20px