<footer block="app-footer">
    <div elem="section" class="full-contain">
        {% if pageTitle != "Контакты" %}
            {% include "contacts-info.html" %}
        {% endif %}
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item" mods="info">
                    <div elem="info">
                        <a elem="logo" href="/"><img src="img/logo.svg" alt=""></a>
                        <div elem="copy">
                            © 2019 <br>
                            <strong>ООО "Карповка25".</strong> <br>
                            Все права сохранены.
                        </div>
                    </div>
                    <div elem="exempli">При использовании материалов ссылка на сайт обязательна.</div>
                    {% include "social-links-type2.html" %}
                </div> 
                <div elem="item" mods="categories">
                    <div block="categories-footer">
                        <nav elem="nav">
                            <ul>
                                <li><a href="#">ПСИХОЛОГИЯ</a></li>
                                <li><a href="#">ПСИХОТЕРАПИЯ</a></li>
                                <li><a href="#">ПСИХИАТРИЯ</a></li>
                                <li><a href="#">НАРКОЛОГИЯ</a></li>
                                <li><a href="#">НЕВРОЛОГИЯ</a></li>
                            </ul>   
                            <ul> 
                                <li><a href="#">ГИПНОТЕРАПИЯ</a></li>
                                <li><a href="#">СЕКСОЛОГИЯ</a></li>
                                <li><a href="#">ФУНКЦИОНАЛЬНАЯ</a></li>
                                <li><a href="#">ДИАГНОСТИКА</a></li>
                                <li><a href="#">РЕАБИЛИТАЦИЯ</a></li>
                            </ul>    
                            <ul>
                                <li><a href="#">ДЕТСКИЙ КАБИНЕТ</a></li>
                                <li><a href="#">МЕДИЦИНСКИЙ МАССАЖ</a></li>
                                <li><a href="#">МЕНТОРСТВО</a></li>
                                <li><a href="#">ОБЯЗАТЕЛЬНОЕ ПСИХИАТРИЧЕСКОЕ ОСВИДЕТЕЛЬСТВОВАНИЕ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div elem="item">
                    <button class="call-back site-btn" data-remodal-target="requisition">обратный звонок</button>
                    {% include "contacts.html" %}
                </div>
            </div>
        </div>
    </div>
</footer><!-- b:app-footer -->
