<div block="contacts">
    <a elem="phone" href="tel:8125076532"><span>(812)</span> 507 65 32</a>
    <a elem="mail" href="mailto:center@karpovka25.ru">center@karpovka25.ru</a>
</div><!-- contacts -->