.contacts

    a
        display block
        
        &:hover
            text-decoration none
            


    &__phone
        color #3c3b3c
        font-size 22px
        font-weight bold
        position relative
        padding-left 35px
        &:before
            content ''
            position absolute
            top 50%
            transform translateY(-50%)
            left 0
            width 24px
            height 24px
            background url('../img/phone-bl-icon.png') 0 0 no-repeat
       
        span
            font-size 22px
            color #008ab1
            font-weight 400

        &:hover
            color #3c3b3c
            cursor default    

    &__mail       
        font-size 15px
        color #008ab1
        font-weight 400
        text-align right
        text-decoration underline

        &:hover
            color #008ab1
