.contact-details

    &__inner
        display flex
        justify-content space-between

        @media (max-width 1279px)
            display block

    &__contacts
        font-size 16px
        color #3c3b3c
        font-weight 400
        flex 0 0 250px
        width 250px
        max-width 250px

        strong 
            display block
            margin-bottom 5px

        span 
            display block
            margin-bottom 15px    

    &__phone
        color #3c3b3c
        font-size 22px
        font-weight bold
        position relative
        padding-left 35px
        display block
        vertical-align top
        &:before
            content ''
            position absolute
            top 35%
            transform translateY(-50%)
            left 0
            width 24px
            height 24px
            background url('../img/phone-bl-icon.png') 0 0 no-repeat
       
        span
            font-size 22px
            color #008ab1
            font-weight 400
            display inline-block

        &:hover
            color #3c3b3c
            cursor default    
            text-decoration none

    &__mail      
        margin-bottom 15px
        a 
            font-size 15px
            color #008ab1
            font-weight 400
            text-align right
            text-decoration underline

            &:hover
                color #008ab1
                text-decoration none

    &__form
        flex 0 0 920px
        width 920px
        max-width 920px
        padding-top 30px
        padding-right 60px
        padding-bottom 40px
        background #008ab1 url('../img/contacts-form-bg.jpg') 0 0 no-repeat 
        background-size cover

        @media (max-width 1279px)
            flex 0 0 700px
            width 700px
            max-width 700px
            background #008ab1
            padding 20px    

        @media (max-width 768px)
            width 100%
            max-width 100%  
    
    &__form-body
        width 540px
        max-width 100%     
        margin-left auto     

        @media (max-width 1279px)
            margin-left 0
            width 100%
    
    &__form-title
        font-size 30px
        color #fff
        font-weight 700      
        margin-bottom 15px

        @media (max-width 639px)
            font-size 28px

    &__inputs
        display flex
        flex-wrap wrap    

        @media (max-width 768px)
            display block

    &__input
        flex 0 0 47.5%
        width 47.5%
        max-width 47.5%    
        margin-right 25px
        &:nth-child(2)
            margin-right 0

        input 
            font-size 18px
            color #fff
            font-weight 400   
            width 100%
            height 40px
            background-color transparent
            border none 
            border-bottom 1px solid #fff

        ::placeholder
            font-size 18px
            color #fff
            font-weight 400    

        @media (max-width 768px)
            width 100%
            max-width 100%
            margin-bottom 15px    

    &__textarea
        flex 0 0 100%
        width 100%
        max-width 100%   
        margin-top 30px

        textarea
            font-size 18px
            color #fff
            font-weight 400   
            width 100%       
            background-color transparent
            border none 
            border-bottom 1px solid #fff
            min-height 40px

        ::placeholder
            font-size 18px
            color #fff
            font-weight 400       

    &__bot
        display flex
        align-items center
        margin-top 25px

        @media (max-width 639px)
            display block

    &__exempli
        font-size 14px
        color #fff
        font-weight 400       
        margin-right 40px 

        @media (max-width 639px)
            margin-bottom 15px
            margin-right 0
            font-size 13px

    &__btn-submit
        width 250px
        padding-top 20px
        padding-bottom 20px
        border-radius 50px            