<div block="contact-details">
    <div elem="section">
        <div elem="inner">
            <div elem="contacts">
                <div elem="phones">
                    <a elem="phone" href="tel:8125076532"><span>(812)</span> 507 65 32</a>
                </div>
                <div elem="address">
                    <strong>АДРЕС:</strong>
                    <span>Россия, Санкт-Петербург, <br> набережная реки Карповки, 25</span>
                    <strong>АДРЕС ФИЛИАЛА:</strong>
                    <span>Россия, Санкт-Петербург, <br> ул. Блохина, 18</span>
                </div>
                <div elem="mail">
                    <strong>ПОЧТА:</strong>
                    <a href="mailto:center@karpovka25.ru">center@karpovka25.ru</a>
                </div>
                <div elem="opening-times">
                    <strong>РЕЖИМ РАБОТЫ:</strong>
                    <span>Ежедневно с 9.00 до 21.00</span>
                </div>
            </div>
            <form elem="form" action="">
                <div elem="form-body">
                    <div elem="form-title">Обратная связь</div>
                    <div elem="form-inner">
                        <div elem="inputs">
                            <div elem="input">
                                <input type="text" placeholder="Представьтесь" required>
                            </div>
                            <div elem="input">
                                <input type="text" placeholder="Телефон +7" required>
                            </div>
                            <div elem="textarea">
                                <textarea name="" placeholder="Ваш вопрос" required></textarea>
                            </div>
                            </div>
                        <div elem="bot">
                            <div elem="exempli">Нажимая на кнопку "оставить заявку" <br> я соглашаюсь на обработку моих <br> персональных данных</div>
                            <button elem="btn-submit" class="site-btn" type="submit">оставить заявку</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% include "location.html" %}
    </div>
</div><!-- contact-details -->