<div block="service-navigation">
    <div elem="section">
        <div elem="inner" class="contain">
            <nav elem="nav">
                <ul>
                    <li class="sub-menu">
                        <a href="#">Психиатрия</a>
                        <ul>
                            <li><a href="#">Депрессии</a></li>
                            <li><a href="#">Депрессии</a></li>
                            <li><a href="#">Неврозы</a></li>
                            <li><a href="#">Страхи и фобии</a></li>
                            <li><a href="#">Панические атаки</a></li>
                            <li><a href="#">Биполярное расстройство</a></li>
                            <li><a href="#">Стресс</a></li>
                            <li><a href="#">Игромания</a></li>
                            <li><a href="#">Снижение веса</a></li>
                            <li><a href="#">Табакокурение</a></li>
                            <li><a href="#">Неврастения</a></li>
                            <li><a href="#">Сексуальные расстройства</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Психотерапия</a></li>
                    <li><a href="#">Наркология</a></li>
                    <li><a href="#">Неврология</a></li>
                    <li><a href="#">Гемокоррекция</a></li>
                    <li><a href="#">Диагностика</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div><!-- service-navigation -->