.service-navigation
    flex none
    margin-bottom 40px
    position relative
    z-index 10
    // width 100%
    // height 100%

    @media (max-width 1279px)
        display none

    @media (max-width 767px)
        margin-top 70px

    // &__items
    //     display flex
    //     margin-left -40px

    //     @media (max-width 1279px)
    //         margin-left -20px

    //     @media (max-width 1023px)
    //         flex-wrap wrap    

    // &__item
    //     padding-top 40px
    //     padding-bottom 40px

    //     @media (max-width 1279px)
    //         padding-top 20px
    //         padding-bottom 10px
        
        
    //     &--list
    //         flex 0 0 960px
    //         width 960px
    //         max-width 960px
    //         padding-left 75px
    //         padding-right 90px
    //         border-left 20px solid #fc9346
    //         background-color #008ab1   
    //         display flex
    //         flex-wrap wrap
    //         justify-content space-between

    //         @media (max-width 1279px)
    //             flex 0 0 800px
    //             width 800px
    //             max-width 800px
    //             padding-left 25px
    //             padding-right 25px

    //         @media (max-width 1023px)
    //             flex 0 0 100%
    //             width 100%
    //             max-width 100%


    //     &--info
    //         flex 0 0 280px
    //         width 280px
    //         max-width 280px
    //         padding-left 60px
    //         background-color #fff   

    //         @media (max-width 1279px)
    //             flex 0 0 200px
    //             width 200px
    //             max-width 200px
    //             padding-left 25px

    //         @media (max-width 1023px)
    //             flex 0 0 100%
    //             width 100%
    //             max-width 100%    
            

    // &__list
    //     list-style-type none
    //     padding-left 0
    //     margin-bottom 0
    //     flex 0 0 180px
    //     &:last-child
    //         flex 0 0 315px

    //         @media (max-width 1023px)
    //             flex 0 0 100%
    //             width 100%
    //             max-width 100%  

    //     li
    //         flex 0 0 33%
    //         width 33%
    //         max-width 33%  
    //         padding-left 15px
    //         position relative
    //         margin-bottom 20px
    //         &:before
    //             content ''
    //             position absolute
    //             top 5px
    //             left 0
    //             width 6px
    //             height 6px
    //             border-radius 50%
    //             background-color #fff

    //         a
    //             font-size 16px
    //             color #fff
    //             font-weight 700
    //             line-height 18px   
    //             display block

    //         @media (max-width 1023px)    
    //             flex 0 0 100%
    //             width 100%
    //             max-width 100%  

    // &__license
    //     color #008ab1
    //     font-size 15px
    //     font-weight 700
    //     text-transform uppercase
    //     line-height 18px
    //     transition color .3s
    //     display block
        
    //     &:hover
    //         color #fc9346
    //         text-decoration none            

    /* width */
    ::-webkit-scrollbar
        width 3px
        transform translateX(-50%)
        @media (max-width 1279px)
            height 3px
            
    /* Track */
    ::-webkit-scrollbar-track
        background #d1d1d1     
    

    /* Handle */
    ::-webkit-scrollbar-thumb
        background #ff9a50    
    

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover
        background #e75a1d

    &__nav
        color #fff
        width 100%
        height 100%
        min-height 320px
        display flex
        flex-direction column
        justify-content stretch
        align-items stretch
        border-left 20px solid #fc9346

        > ul
            list-style-type none
            width 30%
            flex 1 0 30%
            height 100%
            padding 31px 0 30px 55px
            margin-bottom 0
            background-color #008ab1

            > li
                margin-bottom 4px
                
                // position relative
                &:last-child
                    margin-bottom 0

                &:hover
                    > a
                        &:before
                            left 7px

                > a
                    font-size 16px
                    color #fff
                    font-weight 700
                    line-height 40px
                    text-transform uppercase
                    padding-left 25px
                    display block
                    position relative
                    &:hover
                        text-decoration none
                    &:before
                        content ''
                        position absolute
                        top 50%
                        left 0
                        width 6px
                        height 10px
                        margin-top -5px
                        background url('../img/arrow.svg') 0 0 no-repeat
                        background-size contain
                        transition left .3s

            .sub-menu

                ul
                    list-style-type none
                    padding-left 0
                    margin-bottom 0
                    background-color #007191
                    display flex
                    flex-wrap wrap
                    width 60%
                    align-content flex-start
                    padding 30px 40px 0 10px
                    position absolute
                    top 0
                    bottom 0
                    left 33.3%
                    opacity 0
                    visibility hidden
                    overflow-y auto
                    z-index -1
                    transition opacity .3s, ease .5s

                    @media (max-width 1360px)
                        width 64%
                        left 32.3%
                    
                    li
                        flex 0 0 50%
                        width 50%
                        max-width 50%
                        padding-left 25px
                        margin-bottom 10px
                        // position relative

                        a
                            font-size 16px
                            color #fff
                            font-weight 400
                            // line-height 40px
                            line-height 20px
                            word-break break-word
                            // border-bottom 1px solid rgba(215, 221, 225, 0.2)
                            display block
                            padding-left 35px
                            padding-bottom 5px
                            margin-bottom 10px
                            transition border-color .3s
                            position relative
                            &:hover
                                text-decoration underline
                                border-color #d7dde1
                            &:before
                                content ''
                                position absolute
                                top 10px
                                left 15px
                                width 5px
                                height 5px
                                margin-top -3px
                                background-color #fff
                                border-radius 50%

                &:hover
                    &:before
                        left 7px
                    
                    ul
                        opacity 1
                        visibility visible
                        z-index 1