.about-us
    margin-bottom 80px
    position relative
    z-index 11

    @media (max-width 1024px)
        margin-bottom 40px

    &__section
        position relative
        &:after
            content ''
            position absolute
            top -335px
            right 0
            width 530px
            height 645px
            background url('../img/notepad-pic2.png') 0 0 no-repeat
            background-size contain

            @media (max-width 1900px)
                display none

    &__content
        display flex
        justify-content space-between
        align-items center
        padding-left 80px
        padding-right 30px

        @media (max-width 1279px)
            padding-left 0
            padding-right 0

        @media (max-width 640px)
            display block    
        
    &__img
        flex 0 0 400px
        width 400px
        max-width 400px    
        margin-bottom 25px

        img 
            max-width 100%
            height auto

        @media (max-width 1279px)
            flex 0 0 300px
            width 300px
            max-width 300px  

        @media (max-width 640px)
            width 200px
            max-width 100%  

    &__body
        flex 0 0 570px
        max-width 570px
        width 570px    

        @media (max-width 960px)
            flex 1 1 auto
            width 570px   
            max-width 100%
            padding-left 20px

        @media (max-width 640px)
            padding-left 0    

    &__title
        font-size 48px
        color #3c3b3c
        font-weight 700
        text-transform uppercase
        line-height 54px
        margin-bottom 40px
        
        span
            color #008ab1

        @media (max-width 960px)
            font-size 36px    
            line-height 40px
            margin-bottom 20px

        @media (max-width 480px)
            font-size 24px   
            line-height 30px


    &__text
        font-size 15px
        color #3c3b3c
        font-weight 400
        line-height 22px