<div block="about-us">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="content">
                <div elem="img"><img src="img/about-us-pic.png" alt=""></div>
                <div elem="body">
                    <div elem="title">Наша клиника <br> <span>психологии</span></div>
                    <div elem="text">
                        Многопрофильный центр психотерапии <strong>«Карповка-25»</strong> специализируется на оказании психотерапевтической, психиатрической, наркологической, неврологической помощи. Центр создан специалистами данного профиля, которые являются ведущими специалистами Санкт-Петербурга на протяжении <strong>20 лет</strong> и зарекомендовали себя как грамотные профессионалы-практики, организаторы различных структур здравоохранения и представители крупных <strong>научных школ России.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- about-us -->