.question
    display inline-block
    vertical-align middle
    position relative
    margin-left 5px

    &:hover
        .question__body
            display block

    &__title
        cursor pointer
        display block
        width 22px
        height 22px
        background #c7d1d8
        border-radius 100%
        text-align center
        color #ffffff
        font-size 15px
        font-weight 400
        line-height 22px


    &__body
        position absolute
        left 50%
        top 100%
        transform translateX(-50%)
        width 224px
        box-shadow 0 4px 7px rgba(1, 1, 1, 0.16)
        border 1px solid #eaeaea
        background-color #ffffff
        z-index 11
        margin-top 6px
        padding 10px 10px
        font-size 12px
        font-weight 400
        line-height 1.3
        display none

        p
            margin 5px 0

        strong
            color #3a3a3a

        &:before
            content ""
            position absolute
            left 50%
            top -8px
            border-style solid
            border-width 0 10px 8px 10px
            border-color transparent transparent #eaeaea transparent
            margin-left -10px

        &:after
            content ""
            position absolute
            left 50%
            top -7px
            border-style solid
            border-width 0 9px 7px 9px
            border-color transparent transparent #fff transparent
            margin-left -9px

