<div block="question">
	<span elem="title">
		?
	</span><!-- e:title -->
	<div elem="body">
		<p>Имеется точка зрения, гласящая  следующее: представители современных социальных резервов освещают интересные особенности картины в целом.</p>
	</div><!-- e:body -->
</div><!-- question -->
