.form-questions
    flex none

    &__section  
        padding-top 50px
        padding-bottom 50px
        background #008ab1 url('../img/form-bg.png') -380px 0 no-repeat
        background-size cover !important

        @media (min-width 1800px)
            background #008ab1 url('../img/form-bg.png') -105px 0 no-repeat

        @media (max-width 1279px)
            background #51AFCA

    &__body
        display flex
        justify-content flex-end

        @media (max-width 1279px)
            justify-content flex-start

        @media (max-width 959px)    
            display block

    &__head
        flex 0 0 270px
        width 270px
        max-width 270px   
        margin-right 80px 

        @media (max-width 959px)    
            width 100%
            max-width 100%
            margin-bottom 15px
    
    &__title
        font-size 48px
        color #fff
        font-weight 700
        line-height 55px
        text-transform uppercase
        margin-bottom 15px

        @media (max-width 959px)    
            margin-bottom 15px

        @media (max-width 768px)     
            font-size 36px
            line-height 40px

        @media (max-width 640px)  
            font-size 28px
            line-height 30px


    &__desc
        font-size 18px
        color #fff
        font-style italic    

        @media (max-width 768px)  
            font-size 16px
            line-height 18px

    &__form
        flex 0 0 540px
        width 540px
        max-width 540px

        @media (max-width 959px)  
            width 100%
            max-width 100%

    &__inputs
        display flex
        flex-wrap wrap    

        @media (max-width 768px)  
            display block

    &__input
        flex 0 0 47.5%
        width 47.5%
        max-width 47.5%    
        margin-right 25px
        &:nth-child(2)
            margin-right 0

        input 
            font-size 18px
            color #ffffff
            font-weight 400   
            width 100%
            height 40px
            background-color transparent
            border none 
            border-bottom 1px solid #fff

        ::placeholder
            font-size 18px
            color #ffffff
            font-weight 400    

        @media (max-width 768px)  
            width 100%
            max-width 100%
            margin-bottom 15px

    &__textarea
        flex 0 0 100%
        width 100%
        max-width 100%   
        margin-top 30px

        textarea
            font-size 18px
            color #ffffff
            font-weight 400   
            width 100%       
            background-color transparent
            border none 
            border-bottom 1px solid #fff
            min-height 40px

        ::placeholder
            font-size 18px
            color #ffffff
            font-weight 400       

    &__bot
        display flex
        align-items center
        margin-top 25px

        @media (max-width 440px)  
            display block

    &__exempli
        font-size 14px
        color #fff
        font-weight 400      

        @media (max-width 959px)  
            width 350px
            max-width 100%  
        
        @media (max-width 440px)  
            margin-bottom 15px

    &__btn-submit
        width 250px
        padding-top 20px
        padding-bottom 20px
        border-radius 50px