<div block="form-questions">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="body">
                <div elem="head">
                    <div elem="title">У Вас остались вопросы?</div>
                    <div elem="desc">Оставьте заявку на сайте и мы с большим удовольствием на них ответим!</div>
                </div>
                <form elem="form" action="">
                    <div elem="form-inner">
                        <div elem="inputs">
                            <div elem="input">
                                <input type="text" placeholder="Представьтесь" required>
                            </div>
                            <div elem="input">
                                <input type="text" placeholder="Телефон +7" required>
                            </div>
                            <div elem="textarea">
                                <textarea name="" placeholder="Ваш вопрос" required></textarea>
                            </div>
                         </div>
                        <div elem="bot">
                            <div elem="exempli">Нажимая на кнопку "оставить заявку" я соглашаюсь на обработку моих персональных данных</div>
                            <button elem="btn-submit" class="site-btn" type="submit">оставить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- form-questions -->