<div block="s-path" class="contain" {% if pathPos == 1 %}mods="pathPos"{% endif %}>
	{% for item in path %}
		<a elem="link" href="#">{{item.title}}</a><!-- <= link -->
		<span elem="separator">{{ _icon('arrow', { tag: 'i' }) }}</span><!-- <= separator -->
	{% endfor %}
	{{pageTitle}}
</div><!-- s-path -->
