.s-path
    font-size 13px
    color #97989b
    font-weight 400
    margin-top 40px
    margin-bottom 15px
    flex none

    // @media (max-width:768px)
    //     font-size 12px

    a
        text-decoration underline
        color #008ab1

        &:hover
            text-decoration none
    &--pathPos
        position absolute
        top 0
        left 0
        right 0
        color #fff
        z-index 2

    &__separator
        line-height 14px

        .svg-icon--arrow
            width 5px
            height 7px

    @media all and (max-width: 1024px)
        margin-top 0
