.opening-times

    &__section  
        font-size 15px
        font-weight 400
        line-height 22px

    &__address
        color #3c3b3c

    &__time
        color #008ab1
        text-align right