<div block="opening-times">
    <div elem="section">
        <div elem="address">Hабережная реки Карповки, 25</div>
        <div elem="time">Ежедневно с 9.00 до 21.00</div>
    </div>
</div><!-- opening-times -->