.top-menu

    &__nav
        
        ul
            list-style-type none
            display flex
            align-items center
            padding-left 0
            margin-bottom 0

            li
                &:not(:last-child)
                    margin-right 20px

                a
                    font-size 14px
                    color #fff
                    font-weight 400    