<div block="top-menu">
    <nav elem="nav">
        <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Специалисты</a></li>
            <li><a href="#">Экспертиза</a></li>
            <li><a href="#">Институт психотерапии</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">Контакты</a></li>
            
        </ul>
    </nav>
</div><!-- top-nav -->