.aside-content
    margin-top 40px

    @media (max-width 1024px)
        display none
    
    &--type2
        
        & ^[0]
            
            &__banner-name
                top 125px
                right 10px
                color #fff

            &__banner-recording
                bottom 110px

    &__banner
        position relative
        min-height 350px

    &__banner-name
        position absolute
        top 65px
        right 20px
        left 20px
        color #008ab1
        font-size 24px
        line-height 1.1
        font-weight 700
        text-transform uppercase
        text-align right

    &__banner-recording
        position absolute
        bottom 50px
        left 20px
        right 20px
        text-align center

        > a
            display inline-block
            min-width 170px
            font-size 14px
            padding 13px 20px

