<div block="aside-content">
    <div elem="banner">
        <img src="img/kids-banner.jpg" alt="">
        <div elem="banner-name">Детские психиатры</div><!-- e:banner-name -->
        <div elem="banner-recording">
            <a elem="banner-recording-link" class="site-btn" href="#" data-remodal-target="requisition">записаться</a>
        </div><!-- e:banner-recording -->
    </div><!-- e:banner -->
</div><!-- aside-content -->