<div block="s-baner">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="body" style="background: url(img/baner-img.jpg) 50% 0 no-repeat;">
                <div elem="title">Помощь <br> при депрессии</div>
                <div elem="desc">Помощь психологов и подбор терапии</div>
            </div>
        </div>
    </div>
</div><!-- s-baner -->