.s-baner
    flex none
    margin-bottom 35px

    @media (max-width 767px)
        display none 

    @media (max-width 480px)
        margin-bottom 10px

    &__body
        padding-top 70px
        padding-left 50px
        padding-bottom 70px

        @media (max-width 480px)
            padding 35px

    &__title
        font-size 48px
        color #fff
        font-weight 700
        line-height 48px

        @media (max-width 767px)
            font-size 36px
            line-height 40px
            margin-bottom 15px

        @media (max-width 480px)
            font-size 28px
            line-height 32px


    &__desc
        font-size 18px
        color #fff
        font-weight 400
        line-height 48px

        @media (max-width 480px)
            font-size 16px
            line-height 25px
