<div block="form-popup" class="remodal js-popup-form" data-remodal-id="requisition">
    <button data-remodal-action="close" class="remodal-close">{#{ _icon('close-x-icon', { tag: 'i' }) }#}</button>
    <div elem="section">
        <form elem="form">
            <div elem="inner">
                <div elem="head">
                    <div elem="title">Заявка</div>
                </div>
                <div elem="inputs">
                    <div elem="input">
                        <input type="text" placeholder="Имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Телефон" required>
                    </div>
                    <div elem="input">
                        <input type="email" placeholder="e-mail" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">отправить</button>
                </div>
            </div>
        </form>
        <div elem="send-success">
            <i elem="send-success-icon"></i>
            <div elem="send-success-message">Спасибо за заявку!</div>
            <div elem="send-success-desc">Мы совсем скоро свяжемся с Вами</div>
        </div>
    </div>
</div><!-- b:form-popup -->