.form-popup

    background-color #008ab1

    &__form    
        &.success
            display none   

    &__inner
        width 320px
        max-width 100%
        margin 0 auto

    &__title
        font-size 34px
        color #fff
        font-weight 700
        margin-bottom 25px

    &__input
        margin-bottom 25px
        input 
            font-size 18px
            color #ffffff
            font-weight 400   
            width 100%
            height 40px
            background-color transparent
            border none 
            border-bottom 1px solid #fff

        ::placeholder
            font-size 18px
            color #ffffff
            font-weight 400 

    &__btn-submit
        border 1px solid transparent
        &:hover
            background-color transparent
            border 1px solid #fff        

    &__send-success
        font-size 16px
        color #fff
        font-weight bold
        text-align center
        display none
        &.success
            display block         
    
    .remodal-close
        &:before
            color #fff