.logo
    width 300px

    @media (max-width 1279px)
        width auto
    
    &__link
        display flex
        align-items center
        &:hover
            color #008ab1
            text-decoration none

    &__img
        flex 0 0 80px
        width 80px
        max-width 80px

        img 
            max-width 100%
            height auto    

    &__body
        margin-left 20px   
        
        @media (max-width 1279px) and (min-width 1025px)
            display none      

        @media (max-width 439px)    
            display none

    &__name
        font-size 24px
        color #3c3b3c
        font-weight 700   
        line-height 30px
        letter-spacing -0.6px

        span
            color #008ab1
            text-transform uppercase 

    &__desc
        font-size 12px
        color #008ab1
        font-weight 400
        line-height 12px
        text-transform uppercase
        letter-spacing 0.3px        