<div block="logo">
    <a elem="link" href="/">
        <div elem="img"><img src="img/logo.svg" alt=""></div>
        <div elem="body">
            <div elem="name">
                Карповка<span>25</span>
            </div>
            <div elem="desc">психотерапевтический центр</div>
        </div>
    </a>
</div><!-- logo -->