.main-menu
    width 100%
    height 100%

    /* width */
    ::-webkit-scrollbar
        width 3px
        transform translateX(-50%)
        @media (max-width 1279px)
            height 3px
            
    /* Track */
    ::-webkit-scrollbar-track
        background #d1d1d1     
    

    /* Handle */
    ::-webkit-scrollbar-thumb
        background #ff9a50    
    

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover
        background #e75a1d

    &__nav
        color #fff
        width 100%
        height 100%
        min-height 380px
        display flex
        flex-direction column
        justify-content stretch
        align-items stretch

        > ul
            list-style-type none
            width 25%
            flex 1 0 25%
            height 100%
            padding 31px 0 30px 55px
            margin-bottom 0
            background-color #008ab1

            > li
                margin-bottom 4px
                
                // position relative
                &:last-child
                    margin-bottom 0

                &:hover
                    > a
                        &:before
                            left 7px

                > a
                    font-size 16px
                    color #fff
                    font-weight 700
                    line-height 40px
                    text-transform uppercase
                    padding-left 25px
                    display block
                    position relative
                    &:hover
                        text-decoration none
                    &:before
                        content ''
                        position absolute
                        top 50%
                        left 0
                        width 6px
                        height 10px
                        margin-top -5px
                        background url('../img/arrow.svg') 0 0 no-repeat
                        background-size contain
                        transition left .3s

            .sub-menu

                ul
                    list-style-type none
                    padding-left 0
                    margin-bottom 0
                    background-color #007191
                    display flex
                    flex-wrap wrap
                    // width 75%
                    width 52%
                    align-content flex-start
                    // padding 30px 25% 45px 10px
                    padding 30px 0 45px 10px
                    position absolute
                    top 0
                    bottom 0
                    left 25%
                    opacity 0
                    visibility hidden
                    overflow-y auto
                    z-index -1
                    transition opacity .3s, ease .5s
                    
                    li
                        flex 0 0 50%
                        width 50%
                        max-width 50%
                        padding-left 25px
                        // position relative
                        &:hover
                            .main-menu-info
                                opacity 1
                                visibility visible

                        > a
                            font-size 16px
                            color #fff
                            font-weight 400
                            // line-height 40px
                            line-height 20px
                            word-break break-word
                            // border-bottom 1px solid rgba(215, 221, 225, 0.2)
                            display block
                            padding-left 35px
                            padding-bottom 5px
                            margin-bottom 10px
                            transition border-color .3s
                            position relative
                            &:hover
                                text-decoration underline
                                border-color #d7dde1
                            &:before
                                content ''
                                position absolute
                                top 10px
                                left 15px
                                width 5px
                                height 5px
                                margin-top -3px
                                background-color #fff
                                border-radius 50%

                        &.is-active-specialists
                            a
                                // border-color #d7dde1  
                                text-decoration underline
                &:hover
                    &:before
                        left 7px
                    
                    ul
                        opacity 1
                        visibility visible
                        z-index 1

            .our-specialists-list
                a
                    color #ff9a50    
                    &:before
                        background url('../img/arrow-org.svg') 0 0 no-repeat    
                        background-size contain
                
                ul
                    &.show-list
                        opacity 1
                        visibility visible
                        z-index 1

    .main-menu-info
        width 295px
        height 380px
        background-color #008ab1  
        position fixed
        top 180px
        right 37px
        // display none
        z-index 2
        opacity 0
        visibility hidden
        transition opacity .3s, ease .3s

        &__img
            position relative
            z-index 1
            img 
                max-width 100%
                height auto    

        &__text
            font-size 13px
            color #ffffff
            font-style italic
            line-height 18px     
            padding 20px 60px 30px 40px  
            margin-top -20px
            position relative
            z-index 2 
            background-color #008ab1  
        
        @media (max-width 1279px)
            display none !important   
    
    .main-menu-specialists-info
        width 295px
        height 380px
        background-color #008ab1  
        position fixed
        top 180px
        right 37px
        display none
        z-index 2

        &__img
            text-align center
            position relative
            display block
            z-index 1
            height 250px
            overflow hidden
            img 
                max-width 100%
                height auto    

        &__content
            position absolute
            bottom 0
            left 0  
            height 150px
            background-color #008ab1     
            z-index 2   

        &__text
            font-size 13px
            color #ffad71 !important
            font-style italic
            line-height 18px     
            text-decoration none !important
            padding 10px 60px 5px 40px  
            margin-top -20px
            position relative
            display block
            z-index 2 
            border-bottom 1px solid #fff
            background-color #008ab1  
            &:hover
                text-decoration underline !important

        &__prece
            font-size 13px
            color #ffffff
            line-height 18px     
            padding 10px 0 5px 40px  
            margin-bottom 5px
            display flex
            align-items center   

        &__price-num
            font-size 22px     
            font-weight 700
            margin-left 15px

            small
                font-size 13px
                font-weight 400
        
        &__btn-sign-up
            margin 0 auto
            display block