.news-slider
    flex none
    margin-bottom 30px

    &__section
        padding-top 80px
        padding-bottom 50px
        background-color #f3f7fa

    &__head
        display flex
        margin-bottom 40px

        @media (max-width 768px)
            display block

    &__title
        font-size 48px
        color #3c3b3c
        font-weight 700
        line-height 58px
        text-transform uppercase

        span 
            color #008ab1

        @media (max-width 768px)
            font-size 36px
            line-height 40px    

        @media (max-width 480px)
            font-size 28px
            line-height 32px    

    &__desc 
        font-size 15px
        color #97989a
        font-weight 400
        line-height 20px        
        width 400px
        max-width 100%
        align-self flex-end
        margin-left -10px
        transform translateY(-8px)

        @media (max-width 768px)
            margin-left 0 !important
            transform none
            margin-top 15px

        @media (max-width 480px)
            font-size 14px    

    &__items

        .owl-item
            display flex
            justify-content center

        .owl-nav
            position absolute
            top -130px
            right 0
            display flex

            @media (max-width 480px)
                top -35px
                right 50%
                transform translateX(50%)


            svg
                width 25px
                height 35px

            .owl-prev
                margin-right 15px
                svg
                    transform rotate(90deg)

            .owl-next
                svg
                    transform rotate(-90deg)
            
            .owl-prev,
            .owl-next
                &:hover
                    svg
                        path
                            fill #008ab1

    &__item
        margin-right 15px
        display flex
        flex-direction column
        position relative
        
        &:hover

            & ^[0]
                &__btn-sign-up
                    display block

    &__img
        margin-bottom 15px

        img 
            max-width 100%  
            height auto

    &__body
        padding-right 40px

    &__name
        font-size 15px
        color #3c3b3c
        font-weight 700
        line-height 20px    
        letter-spacing -0.38px
        margin-bottom 15px
        display block
        transition color .3s
        &:hover
            color #fc9346
            text-decoration none
    
    &__text
        font-size 15px
        color #3c3b3c
        font-weight 400
        margin-bottom 15px

    &__exempli
        font-size 15px
        color #97989a
        font-style italic
        letter-spacing -0.38px    
        width 300px

    &__btn-more
        font-size 14px
        color #008ab1
        font-weight 400
        line-height 36px
        text-transform uppercase    
        text-align center
        display block
        width 350px
        max-width 100%
        padding-top 10px
        padding-bottom 10px
        margin 40px auto
        border-radius 50px
        border 2px solid #008ab1
        transition color .3s, background-color .3s
        &:hover
            color #fff
            text-decoration none
            background-color #fc9346
            border-color transparent    