<div block="news-slider">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Новости <br> <span>центра</span></div>
                <div elem="desc">Городской психотерапевтический центр «Карповка-25» предлагает Вам профессиональные услуги психолога. </div>
            </div>
            <div elem="items" class="js-slider-news owl-carousel">
                <div elem="item">
                    <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                    <div elem="body">
                        <a elem="name" href="#">«ЭМОЦИОНАЛЬНЫЙ ИНТЕЛЛЕКТ: ЧУВСТВА, ЭМОЦИИ И КОНФЛИКТ»</a>
                        <div elem="text">Доказано, что успех, достижение целей, социальная адаптивность, а так же гармоничное формирование личности связано, в первую очередь, с развитием Эмоционального Интеллекта.</div>
                        <div elem="exempli">С 30 апреля - 26 мая 2019, 2 раза в неделю (вторник, воскресенье) с 19.00 - 21.30 </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                    <div elem="body">
                        <a elem="name" href="#">«ЭМОЦИОНАЛЬНЫЙ ИНТЕЛЛЕКТ: ЧУВСТВА, ЭМОЦИИ И КОНФЛИКТ»</a>
                        <div elem="text">Доказано, что успех, достижение целей, социальная адаптивность, а так же гармоничное формирование личности связано, в первую очередь, с развитием Эмоционального Интеллекта.</div>
                        <div elem="exempli">С 30 апреля - 26 мая 2019, 2 раза в неделю (вторник, воскресенье) с 19.00 - 21.30 </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                    <div elem="body">
                        <a elem="name" href="#">«ЭМОЦИОНАЛЬНЫЙ ИНТЕЛЛЕКТ: ЧУВСТВА, ЭМОЦИИ И КОНФЛИКТ»</a>
                        <div elem="text">Доказано, что успех, достижение целей, социальная адаптивность, а так же гармоничное формирование личности связано, в первую очередь, с развитием Эмоционального Интеллекта.</div>
                        <div elem="exempli">С 30 апреля - 26 мая 2019, 2 раза в неделю (вторник, воскресенье) с 19.00 - 21.30 </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                    <div elem="body">
                        <a elem="name" href="#">«ЭМОЦИОНАЛЬНЫЙ ИНТЕЛЛЕКТ: ЧУВСТВА, ЭМОЦИИ И КОНФЛИКТ»</a>
                        <div elem="text">Доказано, что успех, достижение целей, социальная адаптивность, а так же гармоничное формирование личности связано, в первую очередь, с развитием Эмоционального Интеллекта.</div>
                        <div elem="exempli">С 30 апреля - 26 мая 2019, 2 раза в неделю (вторник, воскресенье) с 19.00 - 21.30 </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                    <div elem="body">
                        <a elem="name" href="#">«ЭМОЦИОНАЛЬНЫЙ ИНТЕЛЛЕКТ: ЧУВСТВА, ЭМОЦИИ И КОНФЛИКТ»</a>
                        <div elem="text">Доказано, что успех, достижение целей, социальная адаптивность, а так же гармоничное формирование личности связано, в первую очередь, с развитием Эмоционального Интеллекта.</div>
                        <div elem="exempli">С 30 апреля - 26 мая 2019, 2 раза в неделю (вторник, воскресенье) с 19.00 - 21.30 </div>
                    </div>
                </div>
            </div>

            <a elem="btn-more" href="#">показать все события</a>

        </div>
    </div>
</div><!-- news-slider -->