.specialists-list
    flex none
    margin-bottom 40px

    &__filter
        display flex
        flex-wrap wrap
        line-height 1
        font-size 0
        margin-bottom 40px

        &-title
            flex 0 0 auto
            font-size 16px
            line-height 1
            color #3c3b3c
            font-weight 700
            text-transform uppercase

        &-body
            flex 1 1 0

        &-item
            display inline-block
            margin-left 40px
            color #008ab1
            font-size 16px
            line-height 1
            font-weight 400
            text-decoration underline
            margin-bottom 5px

            &:hover
                text-decoration none

    &__list
        display flex
        flex-wrap wrap

        .specialists-thumb
            flex 0 0 24.25%
            margin-right 1%
            margin-bottom 35px

            &:nth-child(4n)
                margin-right 0

    &__more
        text-align center

        &-link
            display inline-block
            text-decoration none
            font-size 16px
            line-height 1
            font-weight 400
            color #008ab1
            text-align center
            text-transform uppercase
            padding 20px 10px
            width 100%
            max-width 350px
            border-radius 30px
            border 2px solid #008ab1
            transition color .3s, background-color .3s
            &:hover
                color #fff
                text-decoration none
                background-color #fc9346
                border-color transparent

    @media all and (max-width: 1024px)
        &__filter
            margin-bottom 30px
            display block
            position relative

            &-title
                position relative
                padding 10px 15px
                border 1px solid #f0f4f5

                &:before
                    content ""
                    position absolute
                    right 10px
                    top 50%
                    margin-top -6px
                    width 16px
                    height 12px
                    background-image url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generated by IcoMoon.io --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20' fill='%23000'%3E%3Cpath d='M17.418 6.109c0.272-0.268 0.709-0.268 0.979 0s0.271 0.701 0 0.969l-7.908 7.83c-0.27 0.268-0.707 0.268-0.979 0l-7.908-7.83c-0.27-0.268-0.27-0.701 0-0.969s0.709-0.268 0.979 0l7.419 7.141 7.418-7.141z'%3E%3C/path%3E%3C/svg%3E%0A")
                    background-size 100% 100%

            &-body
                position absolute
                left 0
                top 100%
                right 0
                background #fff
                z-index 1
                border 1px solid #f0f4f5
                margin-top -1px
                display none

                a
                    display block
                    margin 0
                    padding 10px 15px
                    border-bottom 1px solid #f0f4f5

                    &:last-child
                        border-bottom none

        &__list
            .specialists-thumb
                flex 0 0 32%
                margin-right 2%
                margin-bottom 20px

                &:nth-child(4n)
                    margin-right 2%

                &:nth-child(3n)
                    margin-right 0

        &__more
            text-align center

            &-link
                padding 15px 10px

    @media all and (max-width: 766px)
        &__list
            .specialists-thumb
                flex 0 0 49%

                &:nth-child(3n)
                    margin-right 2%

                &:nth-child(2n)
                    margin-right 0
    @media all and (max-width: 560px)
        &__list
            .specialists-thumb
                flex 0 0 100%
                margin-right 0

                &:nth-child(4n),
                &:nth-child(3n)
                    margin-right 0
