<div block="specialists-list">
	<div elem="filter">
		<div elem="filter-title">Все специалисты</div><!-- e:filter-title -->
		<div elem="filter-body">
			<a elem="filter-item" href="#">Психиатрия</a><!-- e:filter-item -->
			<a elem="filter-item" href="#">Психотерапия</a><!-- e:filter-item -->
			<a elem="filter-item" href="#">Наркология</a><!-- e:filter-item -->
			<a elem="filter-item" href="#">Неврология</a><!-- e:filter-item -->
			<a elem="filter-item" href="#">Гемокоррекция</a><!-- e:filter-item -->
			<a elem="filter-item" href="#">Диагностика</a><!-- e:filter-item -->
		</div><!-- e:filter-body -->
	</div><!-- e:filter -->
	<div elem="list">
		{% for item in specialist %}
			{% include 'specialists-thumb.html' %}
		{% endfor %}
	</div><!-- e:lists -->
	<div elem="more">
		<a elem="more-link" href="#">показать еще специалистов</a><!-- e:more-link -->
	</div><!-- e:more -->
</div><!-- specialists-list -->
