.testing-block
    margin-bottom 40px

    &__title
        font-size 20px
        color #ffffff
        font-weight 400
        line-height 20px
        background-color #008ab1
        padding 15px 40px

        @media (max-width 767px)
            padding 20px

    &__body
        padding 30px 40px 15px 40px
        border 1px solid #f0f4f5
        background-color #fff  
        display flex
        justify-content space-between

        @media (max-width 767px)
            padding 20px

    &__img
        flex 0 0 213px
        width 213px
        max-width 213px    

        img 
            max-width 100%
            height auto

        @media (max-width 767px)
            display none    

    &__info
        flex 0 0 505px
        width 505px
        max-width 505px    

        @media (max-width 959px) 
            flex 0 0 405px
            width 405px
            max-width 405px 

        @media (max-width 767px)
            flex none
            width 100%
            max-width 100%
    
    &__text
        font-size 15px
        color #3c3b3c
        font-weight 400
        line-height 20px
        margin-bottom 30px

    &__bot
        display flex
        align-items center
        justify-content space-between   

        @media (max-width 479px)
            display block  

    &__btn-start
        text-align center    
        width 290px
        padding-top 22px
        padding-bottom 22px
        border-radius 50px

        &:hover
            color #fff

        @media (max-width 959px) 
            width 210px
            max-width 100%    

        @media (max-width 479px)
            width 100%
            display block
            margin-bottom 15px

    &__count-issues
        font-size 14px
        color #008ab1
        font-weight 700
        line-height 20px
        text-transform uppercase

        @media (max-width 479px)
            br
                display none  