<div block="testing-block">
    <div elem="section">
        <div elem="title"><strong>Тест:</strong> "Шкала депрессии Бека"</div>
        <div elem="body">
            <div elem="img"><img src="img/testing-img.jpg" alt=""></div>
            <div elem="info">
                <div elem="text">В каждой группе определите одно утверждение, которое лучше всего соответствует тому, как Вы себя чувствовали на этой неделе и сегодня. Прежде, чем сделать свой выбор, убедитесь, что Вы прочли все утверждения в каждой группе. </div>
                <div elem="bot">
                    <a elem="btn-start" class="site-btn" href="#">Начать тестирование</a>
                    <div elem="count-issues">Количество <br> вопросов в тесте: 21</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- testing-block -->