<div block="social-links">
    <div elem="section">
        <a elem="link" href="#"><img src="img/facebook-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/vk-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/twitter-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/g-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/youtube-icon.png" alt=""></a>
    </div>
</div><!-- social-links -->