<div block="social-links" mods="type2">
    <div elem="section">
        <a elem="link" href="#"><img src="img/facebook-bl-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/vk-bl-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/twitter-bl-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/g-bl-icon.png" alt=""></a>
        <a elem="link" href="#"><img src="img/youtube-bl-icon.png" alt=""></a>
    </div>
</div><!-- social-links -->