.social-links

    &__section
        display flex
        align-items center

    &__link
        flex 0 0 20px
        width 20px
        max-width 20px
        margin-right 30px

        &:last-child
            margin-right 0

        img 
            max-width 100%
            height auto