= yaml =
pageTitle: Наши специалисты
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная},
    {"title":Специалисты },
]
= yaml =

{% extends 'app.html' %}

{% block beforeBlock %}

    {% include 's-path.html' %}

    <h1 class="contain">Наши <span>специалисты</span></h1>

{% endblock %}

{% block main %}

    {% include "specialists-list.html" %}

{% endblock %}

{% block afterBlock %}

    {% include "form-questions.html" %}

{% endblock %}



{% block asideLeft %}
    {% include "categories.html" %}
{% endblock %}


