= yaml =
pageTitle: Лечение депрессии
bodyClasses: treatment
layout: !!map
    header: true
    footer: true
    left: true
    right: false
path: [
    {"title":Главная},
    {"title":Психотерапия },
]    
= yaml =

{% extends 'app.html' %}

{% block beforeBlock %}

    {% include 's-path.html' %} 

    <h1 class="contain">Лечение <span>депрессии</span></h1>

    {% include "s-baner.html" %}

{% endblock %}

{% block main %}

    {% include "card-info.html" %}

{% endblock %}

{% block afterBlock %}

    {% set titleSpecialistsTreatmentPage = 'Лечение <span>депрессии <br> проводят</span>' %}
    {% include "slider-specialists.html" %} 

    {% include "form-questions.html" %}

    {% include "reviews-slider.html" %}

{% endblock %}



{% block asideLeft %}

    {% include "categories.html" %} 

    {% include "aside-content.html" %}

    {% include "aside-content-type2.html" %}
    
{% endblock %}


