<div block="video-content">
    <div elem="section">
        <h2 elem="title">Врач клиники о лечении депрессии</h2>
        <div elem="body" style="background: url('img/video-preview.jpg') 50% 0 no-repeat;">
            <a elem="btn-play" href="" data-remodal-target="video"><i></i></a>
            <div elem="container" class="remodal" data-remodal-id="video">
                <button data-remodal-action="close" class="remodal-close">{#{ _icon('close', { tag: 'i' }) }#}</button>
                <iframe width="100%" height="500" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
        <div elem="info">
            <div elem="contacts">
                <div elem="name">Консультация врача<br> по лечению депрессии:</div>
                <a elem="phone" href="8125076532"><span>(812)</span> 507 65 32</a>
            </div>
            <ul elem="list">
                <li>Немедикаментозное лечение</li>
                <li>Лечение тяжелых форм депрессии</li>
                <li>Ведение в период реабилитации</li>
            </ul>
        </div>
    </div>
</div><!-- video-content -->