.video-content
    margin-top 30px
    margin-bottom 40px

    &__title
        font-size 36px
        color #3c3b3c
        font-weight 700
        line-height 40px
        margin-bottom 30px

        @media (max-width 959px) 
            font-size 30px
            line-height 34px
            margin-bottom 15px

        @media (max-width 480px)
            font-size 26px
            line-height 28px


    &__body
        height 300px
        position relative

    &__btn-play
        width 85px
        height 85px
        background url('../img/play-icon.png') 0 0 no-repeat
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

    &__container
        width 1280px
        max-width 100%        

    &__info
        height 130px
        display flex
        
        @media (max-width 767px)
            display block
            height auto

    &__contacts
        font-size 16px
        color #ffffff
        font-weight 400
        line-height 20px
        padding 30px 40px
        background-color #008ab1    
        flex 0 0 35%
        width 35%
        max-width 35%

        @media (max-width 959px) 
            padding 20px
        
        @media (max-width 767px)
            width 100%
            max-width 100%

    &__phone
        font-size 22px
        color #fff
        font-weight 700
        padding-left 40px    
        margin-top 15px
        display block
        position relative
        &:before
            content ''
            position absolute
            top 50%
            transform translateY(-50%)
            left 0
            width 24px
            height 24px
            background url('../img/phone-w-icon.png') 0 0 no-repeat

        &:hover
            color #fff
            text-decoration none
            cursor default    
        
        span 
            color #fff
            font-weight 400

    &__list
        list-style-type none
        padding 30px 40px
        margin-bottom 0
        width 70%
        background-color #f3f7fa

        li
            font-size 16px
            color #3c3b3c
            font-weight 400
            line-height 24px
            padding-left 15px
            position relative
            &:before
                content ''
                position absolute
                top 9px
                left 0
                width 4px
                height 4px
                background-color #3c3b3c
                border-radius 50%

        @media (max-width 959px) 
            padding 20px      

        @media (max-width 767px)
            width 100%
            max-width 100%      