html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &.main
        & ^[0]
            &__wrapper
                @media all and (max-width: 1024px)
                    padding-top 0
        .slider-specialists__desc
            margin-left -315px

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

        @media all and (max-width: 1024px)
            padding-top 80px

    &__content
        display flex
        flex 1 0 auto


    &__main
        flex 1

    &__aside
        // @media (max-width:1023px)
        //     display none
        &--left
            order -1
            flex 0 0 240px
            margin-right 40px

            @media all and (max-width: 1024px)
                display none 

*
    outline none !important

.contain
    width 1200px + 40px + 40px
    max-width 100%
    padding-right 40px
    padding-left 40px
    margin 0 auto

    @media (max-width 1279px)
        width 1200px + 20px + 20px
        padding-right 20px
        padding-left 20px

.full-contain
    width 1920px
    max-width 100%
    margin 0 auto

.site-btn
    font-size 13px
    color #fff
    font-weight 400
    line-height 16px
    text-align center
    text-transform uppercase
    min-width 200px
    padding 16px 20px
    border-radius 23px
    border none
    background-color #fc9346
    transition background-color .3s
    &:hover
        color #fff
        text-decoration none
        background-color #008ab1

h1
    font-size 48px
    color #3c3b3c
    font-weight 700
    text-transform uppercase
    margin-bottom 30px !important
    flex none

    span
        color #008ab1

    @media all and (max-width: 766px)
        font-size 32px
        line-height 1.1

.treatment

    .app__content
        padding-top 35px

    span
        color #008ab1
