<div block="location">
    <div elem="section">
        <div elem="inner">
            <div elem="items">
                <div elem="item">
                    <div elem="title">Городской психотерапевтический <span>центр Карповка-25</span></div>
                    <div elem="text">Выходим из метро «Петроградская» направо на Каменноостровский 
проспект, идем прямо, переходим Силин мост, поворачиваем направо 
на набережную реки Карповки, заходим в ближайшую 
арку налево, вы на месте.</div>
                    <div elem="map" id="map_central"></div>
                </div>
                <div elem="item">
                    <div elem="title">ФИЛИАЛ НА <span>БЛОХИНА 18</span></div>
                    <div elem="text">Выходим из метро «Петроградская» направо на Каменноостровский 
проспект, идем прямо, переходим Силин мост, поворачиваем направо 
на набережную реки Карповки, заходим в ближайшую 
арку налево, вы на месте.</div>
                    <div elem="map" id="map_branch"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- location -->