.location
    padding-top 50px
    padding-bottom 50px

    @media (max-width 639px)
        padding-top 25px
        padding-bottom 25px

    &__items
        display flex
        justify-content space-between

        @media (max-width 1279px)
            display block

    &__item
        flex 0 0 48%    

        @media (max-width 1279px)
            margin-bottom 35px

    &__title
        font-size 18px
        color #3c3b3c
        font-weight 700
        text-transform uppercase
        margin-bottom 15px

        span 
            color #008ab1

    &__text
        font-size 15px
        color #97989a
        font-weight 400   
        margin-bottom 20px    
        padding-right 80px 

        @media (max-width 1279px)
            padding-right 0

    &__map
        width 100%
        height 450px       

        @media (max-width 640px)
            height 350px   